[2016-05-19 06:01] siddta opened #1 "PostgreSQL as a backend database option"
ZQLParser code already supports PostgreSQL. We should add PostgreSQL support to the main repo when we merge the ZQLParser.

[2016-05-19 06:06] siddta opened #2 "Merge ZQLParser code to the main repo."
We should merge Gary's code to the main repo when he is done.

It would have:

1. A separate page for ZQL interface (Let's call it zql.html) -- This will replace the current ZQL interface in the page sometime in the future.

2. ZQL Parser

3. A new package at the backend  to execute ZQL.

[2016-05-20 14:44] seanzyx opened #3 "Confusing code in DTWDistance.java"
for (int i = 0; i < src.length; i++) {
			double [] point = new double[1];
			point[0] = src[i];
			TimeSeriesPoint tp = new TimeSeriesPoint(point);
			if (i == 0) {
				ts1.addLast(i, tp);
			}
			else {
				ts1.addLast(i, tp);
			}
		}

The if statement is kind of confusing -- it seems to be doing the same thing whether i is 0 or not?

[2016-05-20 20:38] siddta commented on #3
Yeah, you're right. Could you please fix it and commit.

[2016-05-20 23:48] #3 closed

[2016-05-21 00:37] siddta opened #4 "ScatterPlot not working on the github version."

[2016-05-21 05:35] siddta commented on #4
The scatter plot query doesn't work in the merged version; I think the reason is - In trendanalysis() in rect.js,  for scatterplot search we use the same query object which we were using for linechart, but for scatterplot, we need ScatterQuery ( see main.js) instead of Query (see main.js).  The backend fails to  parse Query since it's expecting ScatterQuery. I think it was correctly handled before

[2016-05-21 05:47] siddta commented on #2
For the backend code: create a new package: edu.uiuc.zenvisage.zql1.executor  under src/main/java ( keep edu.uiuc.zenvisage.zql.executor as it is) , and at the front-end - create a new html page: zql.html and add all javascript files need for zql.html under a new folder called 'zql' under src/main/webapp. For postgresql library you need to add a dependency in pom.xml. you can google for maven depe

[2016-05-21 05:59] siddta opened #5 "Propose a plan on how we're going to manage the new code for John's Interface at the front-end"
We want to add all the required changes to the current backend in the main branch. So, a new branch is not desirable.

There are several options (list is not exhausitive)
- create a new page say zenvisage.html in the same webapp folder. Add all new js/css files under a new folder.
-  create a new webapp folder (not sure if maven will allow it)

[2016-05-21 06:01] siddta opened #6 "Clean-up the current front-end code"
Structure/Modularize it and clean up the redundant/unused code.

[2016-05-21 06:04] siddta opened #7 "Clean-up the service and data packages at the back-end."
Service package contains the code for Similarity, Representative, etc.
Data package contains the code for roaringdb executor. We need to have a well-defined interface so that classes service package need not be modified regardless of the underlying database.

--will add more details.

[2016-05-21 06:09] siddta opened #8 "Managing issues."
- Please add more issues which you think I might have missed.
- Maybe we need a weekly status report meeting to go over 'who is working on what issues',  pending issues, bottlenecks.  Or maybe we don't need to meet, just update the issue with comments on a regular basis.

[2016-05-21 06:11] siddta opened #9 "Next steps for representative trends work"
So that we can create more concrete issues and assign them to Sean, Sajjadur and me

[2016-05-21 06:14] siddta opened #10 "Copying the javaml lib automatically to the web-inf/lib folder on mvn install"
Currently  mvn install  fails to copy this lib to the web-inf/lib folder. pom.xml can be configured to do so.

As a workaround, we forcefully  it manually through a command in the build.sh file.

Not urgent, but good to have.

[2016-05-23 01:47] eidehua commented on #4
Fixed with f0e5612fa432fdec5165e67c59c4bf9621ca5ab2

[2016-05-23 01:47] #4 closed

[2016-05-23 04:14] garyluoex commented on #2
added new package edu.uiuc.zenvisage.zqlcomplete.executor
added new zqltable page in webapp/zql*
added POM dependency for postgres

[2016-05-23 12:48] adityagp commented on #2
@garyluoex could you provide a short snippet of how you'd use zql within your branch? what are the steps involved in installation, and can you provide a small example? thanks.

cc: @siddta

[2016-05-23 12:52] adityagp commented on #5
I prefer that @wookhuk work within the ecosystem reusing and cleaning up as much as he can.

If that strategy doesn't work, we can talk about alternatives. @wookhuk what do you think?

[2016-05-23 23:42] wookhuk commented on #5
@adityagp We will most likely use a subset of features for the CHI user studies. I will try to make the code as modular as possible so it is easy to merge the current existing functionalities (excluded from the study) back to the zenvisage.html that @siddta suggested. I think either way there will be major reconstruction in the frontend.

[2016-05-23 23:45] wookhuk opened #11 "Testing"
just wanted to see what other functionalities we have

[2016-05-23 23:47] #11 closed

[2016-05-24 00:17] adityagp commented on #5
Makes sense, thanks. We'll keep this issue open until you poke around and figure out the right location for integration.

[2016-05-24 07:22] siddta commented on #2
Your code doesn't build. Tthe reason is that the classes you are accessing from other packaages like Query, etc have been moved  to other packages during cleaning. You can fix them easily using eclipse

Always ry running the steps mentioed on git readme file before committing.

[2016-05-24 14:18] adityagp commented on #2
Thanks @siddta. @garyluoex could you do this? Seems straightforward.

[2016-05-25 00:23] garyluoex commented on #2
@siddta  @adityagp  I fixed the build problems in zqlcomplete, in order to use zqlcomplete with the test zql table /webapp/zql.html we need to add a routing on the new jetty server I believe, I will talk to tarique to see how it can be done.

[2016-05-25 02:40] siddta commented on #2
I'll add the routing tonight.

[2016-05-25 02:41] siddta opened #12 "Add routing for gary's new zql code"

[2016-05-29 07:30] siddta commented on #2
@garyluoex: I added a routing with path  /zv/ZQLComplete (look at function executeZQLComplete in zvBasicAPI class). Also updated the app.js file.

However, the request object has to be the json representation of ZQLTable, I'm not sure what $scope.parsed is doing? Gary could you check it? Also how did you test the backend? I dont see any you are visualizing the results in zql.html, could you copy t

[2016-06-01 01:43] garyluoex commented on #2
@siddta  @adityagp

The problem is due to the "same-origin-policy". you can find more information here <https://en.wikipedia.org/wiki/Same-origin_policy> or here for potential fix <https://developer.chrome.com/extensions/xhr>

So basically simply adding routing for GET request url is not sufficient, we need to add routing to the zql.html page so that it share the same host:port with the request ur

[2016-06-02 04:30] #12 closed

[2016-06-02 04:33] siddta commented on #9
@seanzyx: Could you please add a comment here what you're currently thinking on representative trends? I'll probably have some concrete set of tasks by the end of week.

[2016-06-02 04:34] siddta commented on #7
Couldn't get to it yet, will get started with this.

[2016-06-02 04:46] siddta commented on #6
Ed: I think you can take a shot at it since you understand the most of it, assigned this ticket to you. We are currently not trying to do anything major in the main front-end code, so we can do a good amount of clean-up. You can touch any code other than:
- zql.html and js files under zql folder
- files/folder with word chi in it.

See if you could do the following:
- Angularize the structure and

[2016-06-02 04:50] siddta commented on #5
Looks like we are good here. I am opening a new issue for John to add all apis he needs for updating the front-end. We should have a lot of simpler apis at the backend rather than front-end having to search for specfic things in a large chunk of data returned by one api.

[2016-06-02 04:51] #5 closed

[2016-06-02 04:56] siddta opened #13 "Front-end-back-end communication for John's interface"
Let's add a list of all apis front-end needs. Each api should be as specific as it can be.
service.js (xdata.js in the main code) at the front-end handles this while at the backend it's handled by ZvBasicAPI.

api function call name: purpose

[2016-06-02 04:58] #10 closed

[2016-06-02 04:58] #8 closed

[2016-06-02 04:59] siddta commented on #1
Waiting for zqlparser to be merged.

[2016-06-02 05:05] siddta opened #14 "Plan for user study"
Yahoo
Prof. Venkat at CMU
Other options? Next steps?

[2016-06-02 05:06] siddta opened #15 "Plan for version 1.0 release"
We need to decide on the date, and other things.

[2016-06-02 14:56] seanzyx commented on #9
So the method I'm currently trying on measuring similarity is to first summarize the given trend into major segments, by setting maximun error and minimum number of segments in the bottom up linear regression process ( I found that this is gives a better summary than using the landmark method ). Usually a trend will be divided into 6 or more line segments.

Then I run DTW to compare the similarity

[2016-06-03 00:29] siddta commented on #9
Alright, let's discuss more in the evening. I'd suggest you use two additional datasets along with real estate, because real estate doesn't seem to have a good variety of patterns for us to say anything conclusive about your approach. Which is the other dataset that you mentioned above over which this approach works?

Overall I think the idea of dividing a trend into multiple segments and coming u

[2016-06-04 13:41] adityagp commented on #15
Let's aim for July 1, with the first "fully" working implementation of all interactions on the zenvisage frontend, with a separate ZQL based frontend.

This will require:

Frontend changes:
a) Removing bugs on front-end
b) Cleaning up js code and redundant functionality
c) Commenting as much as we can
d) Import of a file support
e) Installation instructions updated
f) Sean's current code for simil

[2016-06-04 13:50] adityagp commented on #14
I reached out to Venkat. Hoping @wookhuk and/or @seanzyx can join in the discussion as well.

[2016-06-04 13:54] adityagp commented on #2
@garyluoex @siddta What is the status on this?

[2016-06-04 13:55] adityagp commented on #6
Would be good to have @wookhuk also providing some feedback on this. @eidehua will you be able to find time to work on this? It seems like it's a couple days work. Thanks!

[2016-06-04 13:56] adityagp commented on #7
Good idea. Please also loop me in once you figure out how to redesign this. And keep @seanzyx in the loop as well.

[2016-06-04 17:09] eidehua commented on #6
I can do work on this, but mainly on weekends. I think best approach is to first do the refactoring the javascript stuff first, before angularizing. Overall I think our javascript file serve their purposes, but some functions could be in the wrong file (as it could be a side purpose but not the main purpose).

[2016-06-05 13:17] adityagp commented on #6
Got it. Do you think it can be done by the end of the month? One of us -- @siddta or @wookhuk or I may be able to help clean up if there's clear tasks that can be identified.

[2016-06-06 02:54] eidehua commented on #6
Yes I think it can. I will first do a high level pass and then I can follow up with what else to do.

[2016-06-06 05:15] wookhuk commented on #13
I was just about the create this - good call on this thread. I don't have a finalized list but I will start by listing what I had jotted down and needs to be added/fixed and will refine it as I go along.

1.
**getInitialTrends**: when users have only selected the dataset and x, y, z values (sketchpad is currently empty), we need to initialize the graph template with the selected attributes and sho

[2016-06-06 05:21] wookhuk commented on #13
actually another option is to have modular calls for the backend. So instead of making a single call for
**getInitialTrends** shown above, the frontend can make separate 3 calls (getRepresentativeTrends, getOutlierTrend, getDataDetails).

1.
**getResults**: Only returns a list of graphs which is a result of a query (sketch or ZQL).

2.
**getRepresentativeTrends**: Only returns representative trend

[2016-06-06 05:22] wookhuk commented on #14
I have reached out to prof. Chang. Will most likely talk to him on campus about the details when I get back.

[2016-06-06 05:33] wookhuk commented on #15
I think this is a good list. I think one more thing to add is some backend and API call changes that needs to happen due to addition of the new sketchpad library. I should be able to list out what exactly I need pretty soon. Not sure how much fixing is needed in the backend but I'm not expecting major changes from my brief research.

[2016-06-06 05:38] wookhuk commented on #6
@eidehua I am angularizing and refactoring the frontend code in the "chi" files. It will have about 75% (my rough estimate) of the current functionality so it could be useful to take a look. We will eventually have to converge.

[2016-06-06 13:16] adityagp commented on #6
@wookhuk do you think we should wait until you're done or should we proceed in parallel?
@eidehua: fyi @wookhuk is trying to do a clean slate design for a user study.

[2016-06-06 13:18] adityagp commented on #15
OK good. Can you let us know soon so that we can break this list + your additions down into tasks that we can assign? Until then @siddta do you want to make sure each of the tasks above are reflected as issues and assigned the July 1 milestone or earlier? Thanks.

[2016-06-06 13:22] adityagp commented on #13
I like this. For now, this getRepresentative and getOutlier should instead of expecting x y z should take in an arbitrary list of visualizations (represented as indexed vectors with index indicating the z value) and can be called within getResults or elsewhere. Are we overloading getRepresentative and getOutlier for scatterplot and bar chart as well? @siddta

[2016-06-13 09:00] eidehua commented on #6
https://docs.google.com/a/illinois.edu/document/d/10YONgv1ayWDeK76SlRAzDR6cHV8C2CGhTqPVYn0sr8g/edit?usp=sharing

I have created a doc with the proposed updates, how should we proceed with this? Mostly look at the first pass things.

Also send me emails for editing.

[2016-06-13 13:13] adityagp commented on #6
I don't have access to this.

On Mon, Jun 13, 2016 at 4:00 AM, Ed <notifications@github.com> wrote:

--
Aditya Parameswaran
Assistant Professor, Illinois CS
http://data-people.cs.illinois.edu

[2016-06-13 18:18] eidehua commented on #6
Added

[2016-06-18 22:30] siddta commented on #13
@adityagp: the above changes will be easy to do in the zql backend, the main code currently works on basic constructs like x,y,z and many other variables, all in one object, plus execution at the backend is not done in a completely task agnostic way.

For instance, currently back-end takes a query, fetches the data from roaring, and hands over the data to similarity, rep, scatter, where each one o

[2016-06-18 23:57] siddta commented on #7
I have committed my changes needed for version 1 release. I'll like to focus on zql based  backend design now on for addding/redesigning the flow. For the main code, we should only add changes if needed for user study or data upload interface.
@adityagp @wookhuk

[2016-06-19 00:08] eidehua opened #16 "Selecting student dataset returns a "/getformdata error""
Backend throws a NullPointerException, did we get rid of this dataset?

[2016-06-19 00:11] siddta commented on #2
@garyluoex is working on the documentation. Besides that, we can execute the queries mentioned in zqlparserdemo folder .

[2016-06-19 15:15] adityagp commented on #16
Not that I know of, @siddta ?

[2016-06-19 15:17] adityagp commented on #7
That sounds fine. Thanks for cleaning this up.

I will take a quick look when I install and run @garyluoex's interface.

[2016-06-19 15:19] adityagp commented on #13
I don't follow. Is the plan to decouple the execution paradigms for ZQL and the current interface? That's not desirable in the long term, but may be fine for now for the first release.

[2016-06-19 16:51] siddta commented on #13
No, I meant execution should be same for both interface and zql, but is not the case currently. I am suggesting we should work on zql backend to make it support interface as well, that would address some of the points you raised earlier. @adityagp

[2016-06-19 16:57] adityagp commented on #13
Got it. I think it's fine for the first release.

[2016-06-20 07:11] siddta opened #17 "Front end architecture"
[Not important for user study]
I did some survey of open source front-end codes, and am trying to come up with simple architecture/framework we could follow that could be robust against future changes at the interface level, and that could also be easily imported/reusable across other viz projects in the group.

We will add all our design discussions as part of this issue, below a brief write-up,

[2016-06-20 07:15] siddta commented on #17
@adityagp @wookhuk @eidehua : Pls update this with your thoughts, and lets develop the architecture over next week or so. Feel free to attach drawings.

[2016-06-20 07:19] siddta commented on #16
This is because we don't load the student dataset anymore at the backend. Look at src/main/java/edu/uiuc/zenvisage/service/ZvMain.java.  It was manually created dataset and wasn't serving any purpose. @eidehua if you need it, we could it back.

[2016-06-20 08:57] eidehua commented on #16
I don't need it, so we should probably remove the frontend selectors for the student dataset right?

[2016-06-20 15:38] wookhuk commented on #16
@eidehua yeah just go ahead and remove!

[2016-06-26 05:08] eidehua commented on #16
Fixed with
https://github.com/zenvisage/zenvisage/commit/34249e89505d7a0219bb30f23d49695c242befe6

[2016-06-26 05:08] #16 closed

[2016-07-02 08:01] siddta commented on #17
@wookhuk

[2016-07-06 04:39] #17 closed

[2016-07-06 04:49] siddta opened #18 "Important front-end issues we should fix for the first release."
1. Scatter plot search seems to be not working, we are getting the results from the backend, but the front-end is failing somewhere. (Done)
2. I think we should hide the drop-down menus below the drawing panel when we are not doing pairwise search. It's confusing, users can use the left side for selecting the attributes. (In progress)
3. X and Y axis scales changes on scrolling, I think this is so

[2016-07-06 04:54] siddta opened #19 "Improve ZQL interface"
Work on ZQL interface, possibly try to merge the user-study one and the Gary's one. User-study one is more user friendly, if we can easily integrate that with Gary's parser that would be great.

@adityagp

[2016-07-06 04:56] siddta commented on #14
@wookhuk : What's our roadmap for the next few weeks on this? Sorry, I haven't been up-to-date on this.

[2016-07-06 04:58] #7 closed

[2016-07-06 04:58] #2 closed

[2016-07-06 05:01] siddta commented on #15
For the first release, I created a couple of issues. Does July 18th sound good for the release?

[2016-07-06 06:46] eidehua commented on #18
For two, I am going to do some refactoring. Right now we have separate event listeners for the drop-downs and the left side bar, that both have their own functionality, while they should have the same functionality.
When doing pair-wise search should I collapse the left-side-bar X and Y axes selectors?

[2016-07-06 07:02] siddta commented on #18
Ok,
Collapsing might be too much work, easiest would be too just in hide the drop-down menus?

[2016-07-06 11:14] adityagp commented on #18
@siddta

re:

1, 2: Yes, we should definitely try to make these changes
3. Do you mean we should turn this ON? Yes I agree, it seems odd without it at least somewhere -- either the central chart or the similarity search charts
4. This doesn't seem like high priority but seems fine if it's easy
5. What do you mean by we should hide it? Aggregation seems quite important.

[2016-07-06 11:16] adityagp commented on #19
Agreed. Will you be doing this? Chaoran could also look at this but I don't know what plans @wookhuk  has for him. This could be useful for John's interface as well.

[2016-07-06 11:17] adityagp commented on #15
July 18th sounds fine. Are the tasks you assigned exhaustive relative to what I had listed above, @siddta

[2016-07-06 16:52] siddta commented on #15
I think we had fixed majority of the above listed items, will check and add to the todo list if we are missing anything.

[2016-07-06 16:55] siddta commented on #19
I was thinking of making some simple UI improvements so that people don't find zql super difficult to use. Maybe Chaoran can look at it after my first pass.

[2016-07-06 17:00] siddta commented on #18
@adityagp
3: I meant scrolling on the x scale where we kind of zoom in/ zoom out, it doesn't work that well.
5. Backend only does avg based aggregation for now. Instead of removing sum for now, I will add this support to the backend.

[2016-07-06 17:08] adityagp commented on #18
I think 5 is important, we should fix that. For 3, I leave it to your judgment.

[2016-07-06 18:48] seanzyx commented on #18
3: John is working on the zoom in & zoom out functionality in his version
of zenvisage, we can see how it turn out.

Sean

On Wed, Jul 6, 2016 at 12:08 PM, Aditya Parameswaran <
notifications@github.com> wrote:

[2016-07-07 05:38] eidehua commented on #18
Pushed a quick fix for number 1.
Basically, the functionality for scatter search was tied to the small search button, as opposed to the big submit button we have now.

But there is a bigger problem, which is how overloaded the submit button is. This definitely needs to be refactored, there are many places that use onsubmit internally for the dynamic nature of it, but it should understand the chart

[2016-07-07 13:23] adityagp commented on #18
I see -- is there a way @wookhuk is dealing with this issue in his version? maybe we can borrow that piece so that we can fix and move on with the first release.

[2016-07-10 19:34] eidehua commented on #18
Currently, onSubmit() uses world data (global data) -- since there are no parameters, it must handle every type of chart in a different way. I think refactoring it to onSubmit(params) would be very useful, where we pass in the state information.

Also, we currently are mixing two kinds of "submit" events -- onSubmit() and updateTrends()
updateTrends() does some stuff, then calls onSubmit(), and se

[2016-07-10 19:44] eidehua commented on #18
It's also pretty confusing to me still, but refactoring updateTrends should be very useful. Also will take some time since so many places use updateTrends / onSubmit

[2016-07-11 04:24] eidehua commented on #18
Alright, I made a revamp for updateTrend flow, now we have two functions called updateBothTrends (for pairwise) and updateOneTrend(updating one trend only). Still might be a few minor issues, but almost all the console errors seem to be gone now.

If someone could review my refactor that would be cool, want to know if the way I refactored is good.
https://github.com/zenvisage/zenvisage/commit/b477

[2016-07-11 07:15] siddta commented on #19
Pushed in some changes to make ZQL table updatable (Learnt some angular as well while implementing). Will add more changes this week as and when I get time.
However, I still the ZQL is not too usable. We need to discuss maybe. @adityagp

[2016-07-11 07:18] siddta commented on #18
@eidehua Will check your implementation whenever I get time.

Ed could you please update the above list with their current status. We could also discuss sometime on Monday/Tuesday.

[2016-07-11 22:43] adityagp commented on #18
@seanzyx was looking into data upload at some point.

I am not sure about the scatterplot search (I presume you're talking about www.scattersearch.xyz): I think it's substantially different from the current system, not sharing any frontend or backend elements, so it's probably best to keep it separate for now. How does the vanilla scatterplot search within our current zenvisage implementation look

[2016-07-11 22:44] adityagp commented on #19
OK maybe you can do a walkthrough next time we chat?

[2016-07-11 23:07] siddta commented on #18
Yeah, I meant www.scattersearch.xyz.
the one within zenvisage is much faster, however it's still not too robust, interface can be improved further.  @eidehua: I think you fixed the search issue, did you spot other issues?

[2016-07-12 22:29] wookhuk opened #22 "Merging of V1 and CHI version (discussion)"
@adityagp @siddta @eidehua @superchaoran @seanzyx

I'll start by providing a quick summary of what is going on with the CHI version.
- Frontend is completely new, with no reused code.
- Backend has some changes specific to the CHI version and some changes that can be applied to all versions.

Now that we have Chaoran and Sean up to speed, we are making good progress (more changes) and at this pace

[2016-07-13 06:23] eidehua commented on #18
Update (I always edited the first post)
1 is done
2 is in progress -- the refactoring i have been doing already is partial to support this too.
3 -- am I to remove this functionality now? This would be part of a generate-vega cleanup/refactor, which I have not done yet
5 - ?
6 - My revamping a few days ago fixed this issue, but more testing needed.

[2016-07-13 16:01] wookhuk commented on #22
We will be merging the CHI version tomorrow (7/14)

[2016-07-15 19:27] wookhuk commented on #22
merged

[2016-07-15 19:27] #22 closed

[2016-07-15 19:28] wookhuk opened #23 "Fix /getdata failing on V1"

[2016-07-17 22:13] eidehua commented on #23
So we seem to be using the /getdata path for the existing trends as well as the main submit path. Not sure what to change the existing trends to, but for the main one (the function called getData(query, xAxisType, yAxisType) ) we can use the xAxis and yAxis type to call to the correct backend call. But we might need to refactor the callback function

[2016-07-18 16:01] superchaoran commented on #23
Fixed.

[2016-07-18 16:04] superchaoran commented on #23
The built-in Apache Euclidean distance is using larger array's index for small array accessing which caused the bug.

[2016-07-18 22:33] siddta opened #24 "Add query executor support for postgres"
Making query executor within zenvisage more robust.

https://docs.google.com/document/d/1nWHEu-k8BhM1-Ddh5xE-fdp2c6n9o4hB_7yr_J2kAy8/edit

[2016-07-18 22:36] siddta opened #25 "Data uploader"

[2016-07-18 22:47] siddta opened #26 "Range based time series search"

[2016-07-18 22:48] #1 closed

[2016-07-20 05:18] superchaoran commented on #24
i tested local postgres, queries worked well. Looks like the original SQLQuery.java is well written even with conversion from ZQL table.

[2016-07-20 05:20] superchaoran commented on #24
Next step im going to test import csv to postgres.
![image](https://cloud.githubusercontent.com/assets/7088689/16975815/a385c832-4e0f-11e6-9817-6fe64e1a6bb7.png)
Then use SQLQuery.java to build a query string and use SQLQueryExecutor.java to execute it to see result.
Something like Select Z,X, avg(Y) from table where T=t1   group by Z, X order by Z, X.

[2016-07-20 06:01] siddta commented on #24
How are we storing the output of sql query? Earlier we were using linkedhasmap of linkedhashmap. I'd propose we create a class now.  Something on these lines:

Class VisualGroups{
    ArrayList<VisualGroup> visualGroups;
    ArrayList<String> zValues;
}

Class VisualGroup{
   ArrayList<String> X;
   ArrayList<String> Y
}

[2016-07-20 06:14] siddta commented on #24
For the data upload, we can do something simple:
we ask for a schema file like this:
tablename,
attributename1, type, category
attributename1, type, category
attributename1, type, category

[2016-07-20 16:24] superchaoran commented on #24
![image](https://cloud.githubusercontent.com/assets/7088689/16994107/9975a086-4e6b-11e6-9b4b-ae11fe7a36bd.png)
The existing code use inMemoryDatabase for each table, then load them into

[2016-07-20 16:37] superchaoran commented on #24
We need to change the Executor getData to postgres calls.
![image](https://cloud.githubusercontent.com/assets/7088689/16994739/4e635ed2-4e6e-11e6-87ae-ea7b71a7ea84.png)

[2016-07-20 16:39] superchaoran commented on #24
![image](https://cloud.githubusercontent.com/assets/7088689/16994805/9b3a7132-4e6e-11e6-82a2-9eccac14bcb9.png)
By changing it we can link it up.

[2016-07-20 16:43] superchaoran commented on #24
return of SQL would be cater to ExecutorResult
![image](https://cloud.githubusercontent.com/assets/7088689/16994916/17bcb9fe-4e6f-11e6-9d92-460fd9e7bb80.png)

[2016-07-22 16:30] #26 closed

[2016-07-22 16:30] wookhuk opened #29 "Add xlabel to the graphs"

[2016-07-22 16:31] wookhuk opened #30 "Graphs should be able to handle datetime values"

[2016-07-24 04:51] eidehua commented on #23
A new bug is breaking getdata again. I've checked the json we are passing to the backend, seems like there is a new "xRange":[1,46] key value pair in the chi version? What would this correspond to in the V1 version?

Caused by:
java.lang.NullPointerException
        at edu.uiuc.zenvisage.service.Similarity.computeOrders(Similarity.java:137)
        at edu.uiuc.zenvisage.service.Similarity.compute(

[2016-07-24 04:54] eidehua commented on #23
The "x" in v1 corresponds to pixels right now
`{"method":"SimilaritySearch","yAxis":"SoldPrice","xAxis":"Quarter","groupBy":"Metro","aggrFunc":"avg","aggrVar":"SoldPrice","outlierCount":50,"dataX":[],"dataY":[],"yMax":140.82678125,"yMin":103.5094453125,"sketchPoints":[{"points":[{"x":0,"y":244.5},{"x":32,"y":244.5},{"x":64,"y":244.5},{"x":96,"y":244.5},{"x":128,"y":244.5},{"x":160,"y":244.5},{"x":

[2016-07-24 14:53] adityagp commented on #23
@eidehua -- thanks for the issue.  can you coordinate with @wookhuk and @siddta on fixing and whether it makes sense to converge the two implementations?

[2016-07-25 15:55] wookhuk commented on #23
@eidehua There are a lot of changes going on in the backend which will break v1. The drawing system is completely different and there is no way one backend can handle this change. We forked the code to keep things separate, but we ended up merging so v1 can benefit from some improvements. But I don't think this is sustainable with two completely different frontends.

TLDR: Two options.
1) Fork to

[2016-07-25 16:01] wookhuk commented on #30
Frontend can handle all the datetime values. There needs to be some additional change in the backend. Namely when passing back the data, it needs to include

1. If there is a datetime value in one of the columns
2. If 1) is true, which column is the datetime value

[2016-07-25 17:45] adityagp commented on #23
@wookhuk and @siddta discussed this and we think it would be good to continue without forking, while trying to keep things as general as possible (in order to not break v1 any more than absolutely necessary).

[2016-07-25 17:54] siddta commented on #23
Either of the version uses almost the same set of api calls to feed the visualizations. Over the past few days, we have only added a minor improvements to the backend to do partial similarity search.

Sending pixels or domain value to the backend is the only difference, I guess? I will look at both the implementations and see how we can resolve this hopefully later today or tomorrow.

@wookhuk: wh

[2016-07-25 18:01] siddta commented on #24
@superchaoran : any updates?

[2016-07-25 18:02] siddta commented on #30
@wookhuk @seanzyx : we need to discuss this.

[2016-07-25 18:09] siddta commented on #29
Is the xlabel being populated by the backend?

[2016-07-25 18:11] #9 closed

[2016-07-25 18:11] #14 closed

[2016-07-25 19:13] wookhuk opened #32 "Allow users to set hard error bounds."
Allow users to set an error band. Something like [this](https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwi636WOqI_OAhVI94MKHTbQCpIQjRwIBw&url=http%3A%2F%2Fnmarinsek.com%2Ftutorial-how-to-make-shaded-error-bands-in-excel%2F&bvm=bv.127984354,d.amc&psig=AFQjCNGJAaPqADutNhRz4aaV68GCYNcsgA&ust=1469560045949373). It should prevent the system from returning any

[2016-07-25 19:33] wookhuk opened #33 "Include scatter plot mode and bar chart mode"

[2016-07-25 20:20] wookhuk opened #34 "Allow users to generate model trends based on existing functions"
This can come in useful if the users want to compare their data with "theoretical" values and see how much their test data deviates from it. But I would consider this low priority. There is even a work around where the user can input a model trend data as one of the timeseries.

[2016-07-26 03:28] eidehua commented on #23
Yeah, I feel keeping the backend as general as possible should be best, no matter the v1 and chi issue. Like someone else could develop their own front-end using our backend calls.

The drawing systems are completely different but as long as we process it into a format the backend understands, it should be good. I'm sure V1 can also use the multiple backend calls instead of just /getdata as well.

[2016-07-26 06:15] siddta commented on #23
Yes, agreed. There is not much difference between the two versions at this stage. Major functionalities and Interactions are all same between the two version. CHI one uses dygraph for drawing, other than that I would say we make effort to understand the code and keep everything consistent by reusing/refactoring/adding. I am ok if V1 remains in a broken state for a few days (chances are less once w

[2016-07-29 00:35] superchaoran opened #35 "Bug: CMU Case study data doesn't get response from back-end"

[2016-07-29 01:05] superchaoran commented on #35
RealEstate Input query:{"method":"SimilaritySearch","xAxis":"Quarter","yAxis":"SoldPrice","groupBy":"Metro","aggrFunc":"avg","aggrVar":"SoldPrice","outlierCount":"50","dataX":[],"dataY":[],"yMax":null,"yMin":null,"sketchPoints":[{"points":[

[2016-07-29 01:06] superchaoran commented on #35
CMU Input query:{"method":"RepresentativeTrends","xAxis":"vis","yAxis":"vis","groupBy":"id","aggrFunc":"avg","aggrVar":"vis","outlierCount":"50","dataX":[],"dataY":[],"yMax":null,"yMin":null,"sketchPoints":[{"points":[

[2016-07-29 01:10] superchaoran commented on #35
![image](https://cloud.githubusercontent.com/assets/7088689/17234502/3fd9538e-54ff-11e6-99b9-206b1a89d8bd.png)
![image](https://cloud.githubusercontent.com/assets/7088689/17234507/4c876e54-54ff-11e6-940a-40a4ac3d7f53.png)

[2016-07-29 01:10] superchaoran commented on #35
Selecting class && h20 cause array out of bound error.

[2016-07-29 01:11] superchaoran commented on #35
Input Query's x-axis and y-axis are both weirdly "vis" all the time

[2016-07-29 01:22] superchaoran commented on #35
i think
![image](https://cloud.githubusercontent.com/assets/7088689/17234714/fad942b0-5500-11e6-89aa-05f5eef27f5d.png) ExecuteResult is null here

[2016-07-29 01:23] superchaoran commented on #35
![image](https://cloud.githubusercontent.com/assets/7088689/17234747/2f1260a2-5501-11e6-832a-97c74c1b45e9.png)
This not not handled correctly somehow

[2016-07-29 01:35] superchaoran commented on #35
We should make breakpoints in deeper methods to see why it is returning null.

[2016-07-29 06:37] siddta commented on #35
Yes. I suspect the the data we get back from the db is a little different than what the code expects. The best way to debug this is to write a main function or a test class and call zvmain function with the above query. After calling you can debug the code line by line until it breaks.

[2016-07-29 06:38] siddta commented on #34
Is this part of the user-study? Or a general request.

[2016-07-29 06:39] siddta commented on #33
Yes, this is very important. Do we need this for the cmu user study? If so, we should discuss soon on how we can add them.

[2016-07-29 06:41] siddta commented on #32
I don't think this should be on top of our priority list. But it's good to implement it sometime later maybe after the deadlines. Is it an ask from the participants ?

[2016-07-29 06:43] siddta commented on #30
Hey @wookhuk, what strategy are we following on this? I think we discussed a couple of them. Are we going ahead with the one where dygraph interpolates the values on drilling down?

[2016-07-29 06:44] siddta commented on #29
Do we show the axis labels now?

[2016-07-29 18:37] #25 closed

[2016-07-29 19:36] siddta commented on #25
I thought it's still not done. Does it work for the postgres case?

[2016-07-29 19:55] wookhuk opened #36 "Fix front end so users input the number of segments for sketchpad"

[2016-07-29 19:56] wookhuk opened #37 "Fix backend so users can pass in the number of segments as a variable"

[2016-07-29 21:12] siddta commented on #35
@superchaoran were you able to identify the issue? do we need to talk?

[2016-07-31 19:26] wookhuk commented on #35
I second creating a test class to debug this more efficiently. Sean also ran into this problem recently.

[2016-07-31 19:31] stevenlcf opened #38 "A bug of DTW distance in javaml-0.1.5"
I found a bug in **net.sf.javaml.distance.fastdtw.dtw.DTW** (javaml-0.1.5) which is used in **edu.uiuc.zenvisage.service.distance.DTWDistance**

The library class uses the square of Euclidean distance, which actually should be Euclidean distance, as the distance between two TimeSeriesPoint.

This bug could lead to different WarpPath results. For example, two warping paths with distance sequences {

[2016-08-01 20:28] siddta commented on #37
@seanzyx : Have time to talk about interpolation and paa implementation today?

[2016-08-01 20:29] siddta commented on #35
@superchaoran : were you able to find the issue? Let me know if I need to look into it?

[2016-08-01 20:36] siddta commented on #38
good find. thanks.

[2016-08-01 20:42] siddta commented on #29
@wookhuk I still don't see the axes values in the output results?

[2016-08-01 20:51] siddta opened #39 "New Feature 3: Add ZQL table back to the interface."
Maybe we should put the settings in a drop-down.

[2016-08-01 20:55] siddta opened #40 "New Feature 1: Start thinking about comparing among X or Y axis."
- we will start with the backend changes, if we could do this, it would be super since that would mean we can run a lot of zql queries. currently z based search we do, i assume there maybe some systems that would be doing the same.
- we need to brainstorm how we will let users specify that he wants to find one of the X or Y axis. I'm sure we would have such a use-case from cmu.

[2016-08-01 20:58] siddta opened #41 "New Feature 2: Start thinking about how to let user search for patterns in a single visualization."
Corresponds to T in ZQL.

One example is fine me two peaks.

[2016-08-01 21:02] siddta commented on #34
On HOLD.

[2016-08-01 21:03] siddta commented on #32
ON HOLD.

[2016-08-01 21:06] seanzyx commented on #37
@siddta yeah. your account seems to be disabled on slack? can't reach you.

[2016-08-01 21:07] siddta opened #42 "BACKEND MAJOR CHANGE: Extend VisualComponentProcessor to do binning/interpolation/so on."
Currently, I assume @superchaoran has basic query executor working which returns VisualGroups. We now need to apply binning/interpolation etc. to these results. The flow would be like this:

DB----->SQLQUERYEXECTOR ------->Binner/Interpolator----------> taskprocessor (sim, rep, etc)
                     <---------Visual Component Processor--------------->

After this we will work on taskprocessor.

[2016-08-01 21:10] siddta opened #43 "Add dissimilarity option to the interface."
Put similarity/disimilarity into a drop-down menu.

[2016-08-01 21:11] siddta commented on #19
ON HOLD.

[2016-08-01 21:12] siddta commented on #37
haha, yes. working with @adityagp to resolve this. we should talk at 7pm cst?

[2016-08-01 21:15] #13 closed

[2016-08-01 21:15] seanzyx commented on #37
haha sure, let's talk at 7pm cst then

[2016-08-01 21:16] siddta opened #44 "Major Enhancement: Thinking about Improving Query object"
The query object that we send from front-end to backend is pretty bad, I created it a year back. No way we can continue using it, can't opensource it with that representation.

We need to brainstorm on how to improve it. (aim is to move towards ZQL query representation)

[2016-08-01 21:19] siddta opened #45 "Troubleshoot why first four results sometimes never change while searching with euclidean distance"

[2016-08-01 21:25] siddta opened #46 "Thinking about the best output representation from the backend."
Currently whatever we have I dont like it. I had created it a year back.

[2016-08-01 21:27] siddta commented on #33
Does dygraph allow editable histogram?

[2016-08-01 21:33] siddta opened #47 "Architecture diagram"
Come up with detailed architecture diagram(s) to explain the current state of zenvisage.

[2016-08-02 20:45] wookhuk opened #48 "Wipe out representative and outlier search results when category is changed"

[2016-08-02 20:47] wookhuk opened #49 "Allow users to set number of clusters for k-means"
Not the highest priority but should be implemened.

[2016-08-02 20:47] wookhuk opened #50 "Add explanation in the frontend for the algorithms being used"
especially for the custom ones.

[2016-08-02 20:48] wookhuk opened #51 "Add no aggregating option (front and back)"

[2016-08-03 02:46] siddta opened #53 "RoaringBitmap QueryExecutor improvements"
Discussed with seanyx. Keys changes in order of priority:
 1)  adding/processing unindexed x attribute values. (will help in data loading issue to some extent,   z will still remain indexed).
 2) remove X axis values with zero data points from the results of query executor. (should solve overplotting issue to a major extent)
 3) add option for non-aggregated y values in query results.  (currently

[2016-08-03 02:55] siddta commented on #15
@adityagp: Given that our uploader seems to be working well,  I think we can have our V1.0 release as soon as we are done with some of the changes in the backend namely -- interpolation, option for unindexed z values, option for non-aggregated Y values.
We can prioritize these changes as well if you think they are necessary for V1.0:
1) option for binning
2) scatter plot and barcharts
3) postgres

[2016-08-04 00:48] wookhuk opened #54 "Case study 1: CMU"
-

Lower priority
- Allow users to generate model trends based on existing functions. #34
- Allow users to set an error band. #32

[2016-08-04 00:48] wookhuk opened #55 "Case study 2: Yahoo"

[2016-08-04 00:49] wookhuk opened #56 "Case study 3: TBD"

[2016-08-04 16:59] wookhuk opened #57 "Should update graphs when the parameters are changed"
for change in
- similarity metric
- representative
- outlier

[2016-08-05 14:07] adityagp commented on #15
I think this is a good list. The question is how much additional work beyond the user study-related work would be needed to get this "out". If it can be done along the way, I would be super keen to release this. I don't think binning/interpolation is essential for V1.
2) is not essential either, but would significantly distinguish us from other papers on query by sketch.
The q is whether other use

[2016-08-05 14:09] adityagp opened #58 "Upload instructions missing"
The dataset upload functionality is great (thx @seanzyx), but we need to standardize the schema and provide a (?) button that clarifies what is expected so that users can upload and play around with their datasets.

[2016-08-05 14:12] adityagp commented on #24
@superchaoran what's the status on this? Seems like the API call should look the same independent of in-mem or SQL implementation.

[2016-08-05 14:14] adityagp commented on #29
This is probably high priority -- I can see that participants may worry about getting deceived because the values are not provided.

[2016-08-05 14:16] adityagp commented on #36
Why do we want this functionality? This seems like something we should not leave to the end-user, unless one of the participants explicitly requested for it.

[2016-08-07 10:09] siddta commented on #36
Yes, the plan is not to leave this to user. Our default number (dependent upon the length of X axis) would be sufficient for most of the practical cases (recall that our earlier hardcoded 30 segments was not too bad). But just in case, user wants to change it, there should be an option for him to do it.

Thinking of it as an option for increasing or decreasing the resolution/granularity for simila

[2016-08-07 10:25] siddta commented on #24
@superchaoran was busy with his stats exam last week, could you please add the details of yourchanges here.

Also, we would like to add another layer for doing interpolation/binning etc as part of query executor. Recall my diagram I posted on slack a few days back. There are two ways we can add this change, let me know which one is better:

Option 1:
Add another step to the executor before returni

[2016-08-07 10:35] siddta commented on #58
Yeah, there is a lot of clean-up to be done. We ask users for many things that they don't need. Since a lot of other changes were happening, I didn't want to make bigger changes here.

Also the schema format should be consistent between the inmemdb and postgres. Earlier I was thinking, for postgres, one simple option could have been to let the users give us CREATE table SQL query and INSERT data q

[2016-08-07 10:44] siddta commented on #15
yes, I think 3 and are important. For 4, should we add the table to the main interface as an option  (visible only on some button click) for consistency?
I feel If we could do 2 even if it's pretty basic, that would be great.

For the CIDR paper citation, we could add the links to the website and github if it's allowed. It might be a bit tight call for us to able to annouce it as opensourced by th

[2016-08-08 19:45] #57 closed

[2016-08-08 21:12] adityagp commented on #15
Re: CIDR paper citation, that's fine. How about we aim to get the best current version out by September 1? I suspect many of the issues will be dealt with for the user study anyway. I propose that we don't try to do anything additional -- highest priority items are VLDB paper, user study, CIDR paper, code release, in that order.

[2016-08-08 21:17] adityagp commented on #58
OK, I don't like the idea of the user providing the SQL, since we're not expecting them to be comfortable with the language. Much easier for them to say: here are the attribs i'm planning to explore for x, and for y, and here are various ways i may group viz. For this, I think something simpler suffices, e.g., first row is
"x: attrib1, attrib2, ...."
second row is
"y: attrib1, ..."
third row is
"z

[2016-08-08 21:17] siddta commented on #15
Sure, sounds good.

[2016-08-08 21:19] adityagp commented on #24
These two options are not very clear to me. Maybe we can discuss in person.

[2016-08-08 21:20] adityagp commented on #36
Got it: Again, if we want this, this should be hidden away under one of the ?s. What do you think @wookhuk

[2016-08-09 21:01] wookhuk commented on #45
This is fixed now

[2016-08-09 21:01] #45 closed

[2016-08-09 22:30] superchaoran opened #59 "Direct upload files into postgres"
Saving Sean's upload files into postgres database server as Prof. Aditya suggested on Aug 9th meeting.

[2016-08-10 01:18] superchaoran commented on #35
This was fixed, right? @wookhuk @seanzyx

[2016-08-10 01:25] superchaoran commented on #42
Attaching @siddta's meeting notes:
[https://docs.google.com/document/d/1nWHEu-k8BhM1-Ddh5xE-fdp2c6n9o4hB_7yr_J2kAy8/edit]
[https://docs.google.com/drawings/d/1jFdKlmFe3-A58EREEYxYZdUJKl8zYWxbUZLHgRkk8hY/edit]
![image](https://cloud.githubusercontent.com/assets/7088689/17538876/2e4aab58-5e6f-11e6-8e61-b4fb1b2c8ed9.png)
DataReformation class -> Transformation class

[2016-08-10 15:21] #29 closed

[2016-08-10 19:27] wookhuk commented on #35
fixed.

[2016-08-10 19:27] #35 closed

[2016-08-10 19:51] wookhuk commented on #30
@siddta
The current setup will use the default datetime handling by dygraphs.

http://dygraphs.com/gallery/#g/range-selector

I think this is quite well done.

[2016-08-10 20:11] #48 closed

[2016-08-10 20:12] wookhuk commented on #50
@seanzyx
@stevenlcf
Please add a description of how your algorithm works here! I can add it to the frontend for the users to see.

[2016-08-10 21:06] stevenlcf commented on #50
I'm not sure how long the description should be. Therefore I post two versions here. If they are not suitable, please let me know!
### version 1
MVIP means Matching Visually Important Points. It takes following steps to calculate the distance between two time series:

Step 1: Use z-score to normalize and moving average to denoise the time series.
Step 2: Use perceptually important point identifica

[2016-08-10 22:12] adityagp commented on #50
Super short + intuitive explanation is better, with no jargon! One sentence at the most.

[2016-08-10 22:28] stevenlcf commented on #50
MVIP tries to match visually important points, which depict the coarse trends, of two time series and uses the mismatch score as the distance.

[2016-08-10 22:41] seanzyx commented on #50
Segmentation: Summarizes a trend into major line segments and calculates
the similarity based on the matching of the segments.

On Aug 10, 2016 17:29, "Changfeng Liu" <notifications@github.com> wrote:

[2016-08-20 22:31] superchaoran opened #60 "Deploy Postgres onto server"

[2016-08-29 18:33] superchaoran commented on #42
We used to have LinkedHashMap<String, LinkedHashMap<Float, Float>> output in https://github.com/zenvisage/zenvisage/blob/878ce1aa18e90efcdfcbb40455947a5da87aab28/src/main/java/edu/uiuc/zenvisage/data/roaringdb/executor/ExecutorResult.java#L15

[2016-08-29 18:45] siddta opened #61 "ZQLTable to a generic acyclic graph representation"
Also, see if you can run the existing zql code in your local. feel free to change the ZQLTable class structure if you'd like.

[2016-08-29 20:58] superchaoran commented on #42
VisualComponentList Tested.
![image](https://cloud.githubusercontent.com/assets/7088689/18067189/4aa27546-6e01-11e6-96b3-54d5cb427ff4.png)
Next Step is to add an interface to convert VisualComponentList to in-memory output.

[2016-09-14 11:01] superchaoran opened #65 "Convert Query to ZQLRow (Part of Postgres backend flow)"
Front end query should be converted to ZQLRow then pass through SQLQueryExecutor.

[2016-09-14 11:02] superchaoran commented on #60
Postgres tables need to be converted from csv using the converting script and populated on zenvisage server.

[2016-09-17 19:02] superchaoran commented on #42
Fixed with commit: 3cb69b929805891e912dd5ab46eebfdd78e4631b

[2016-09-17 19:02] #42 closed

[2016-09-17 19:03] superchaoran commented on #60
fixed with commit 69d49f9a31c9634ffe33f455f3fcb1de11847ea3

[2016-09-17 19:03] #60 closed

[2016-09-17 19:04] superchaoran commented on #65
fixed with commit: fa3164a0c1fd76adcd88da62314cfeebe562942b

[2016-09-17 19:04] #65 closed

[2016-09-17 19:05] superchaoran commented on #24
fixed with commit: 9167ce411a61a121a99078d44ecaad3b9eaf64e3

[2016-09-17 19:05] #24 closed

[2016-09-17 19:06] superchaoran opened #73 "Implementing Metadata table instead of using pattern matching WrapperType"

[2016-10-02 05:36] superchaoran commented on #73
Partially complete with a metatable: (tablename variable type);
Need to think about indexed, un-indexed;categorical/non-cat metadata.
Where are those going from schema file? Should we store those in metatable too?

[2016-10-02 06:37] superchaoran commented on #73
Indexed, un-indexed;categorical/non-cat metadata.  should still be stored in files on server.
We create a new tuple table (tablename, metafileLocation), for loading the metafiles.

[2016-10-03 01:37] superchaoran commented on #59
1.file->zenvisage_metatable; 2. file->zenvisage_metafilelocation; 3. file->creatNewDatasetTable; 4. copy file->NewDatasetTable;

[2016-10-03 01:56] superchaoran commented on #73
Front-end is hard coded for file upload: need to me changed  <select class="form-control" ng-change="onDatasetChange()" ng-model="selectedDataset" id="dataset-form-control">
              <option value="real_estate">Real Estate</option>
              <option value="cmu">cmu</option>
              <option value="cmutesting">cmu testing</option>
              <option value="sales">sales</option>

[2016-10-03 01:59] superchaoran commented on #59
Front-end is hard coded for file upload: need to me changed  <select class="form-control" ng-change="onDatasetChange()" ng-model="selectedDataset" id="dataset-form-control">
          <option value="real_estate">Real Estate</option>
          <option value="cmu">cmu</option>
          <option value="cmutesting">cmu testing</option>
          <option value="sales">sales</option>
        </select>

[2016-10-03 02:01] superchaoran commented on #59
This week, spent 23 hours on file upload function:
Managed to get it halfway done.
Things done this week:
1.file->zenvisage_metatable; 2. file->zenvisage_metafilelocation;
Current data set now pull from (zenvisage_metatable, zenvisage_metafilelocation and ZQL load)
Things to be done next week:
3. file->creatNewDatasetTableScheme; 4. copy file->NewDatasetTable;
Need a pulling from front end to back

[2016-10-03 03:06] superchaoran commented on #59
FileUpload architecture:
![image](https://cloud.githubusercontent.com/assets/7088689/19026511/70c1e904-88ec-11e6-84a8-5105608e93ae.png)

[2016-10-03 12:56] adityagp commented on #59
Whoa! That arch diagram is really confusing. We should talk about this. I can try to come find you today after a defense in the afternoon that I am attending.

[2016-10-03 13:01] superchaoran commented on #59
@adityagp Hi Prof. Aditya. I have an interview with LiveRamp from 3:00pm-4:00pm. I can meet you at 4:30pm ish if that works for you. Thanks!

[2016-10-03 13:13] adityagp commented on #59
Sure, I'll come find you in your office around then.

[2016-10-03 13:15] superchaoran commented on #59
@adityagp Thanks! I will be at SC 2105 around 4:30pm.

[2016-10-05 15:31] superchaoran commented on #59
![image](https://cloud.githubusercontent.com/assets/7088689/19119911/dfc7f626-8ae6-11e6-8fd4-3a0a1de682a7.png)
![image](https://cloud.githubusercontent.com/assets/7088689/19119924/e7e60c8a-8ae6-11e6-974b-a7330730c0a4.png)
![image](https://cloud.githubusercontent.com/assets/7088689/19119931/ef3ac3a4-8ae6-11e6-9037-229e9075fce3.png)

[2016-10-05 15:34] superchaoran commented on #59
@adityagp Hi Prof. Aditya, I will explain the new architecture @siddta and I discussed about yesterday to the group at 3:00pm today (our usual meeting time). Thanks

[2016-10-05 16:36] superchaoran commented on #59
![image](https://cloud.githubusercontent.com/assets/7088689/19122403/efe48b38-8aef-11e6-91fb-d5fb073ae325.png)

[2016-10-05 16:37] superchaoran commented on #59
![image](https://cloud.githubusercontent.com/assets/7088689/19122439/1c26c95e-8af0-11e6-9b65-db12864a04d0.png)

[2016-10-05 19:40] superchaoran commented on #59
![image](https://cloud.githubusercontent.com/assets/7088689/19128610/b427e13e-8b09-11e6-895b-d5ff41e857c4.png)

[2016-10-22 13:04] superchaoran opened #77 "Bugs involved with ZQLQueryGraph Calling of SQLQueryExecutor"
1. Inverted ' error; replace those with "".
2. Database table column name not match:
    Solution: Cast every column name to lower case.
                    Create lower cased columns and entries at start.
3. Correct construction of ZQLRow

[2016-10-22 19:22] superchaoran commented on #77
Done

[2016-10-22 19:22] #77 closed

[2016-11-08 07:43] superchaoran opened #78 "Support for multiple x, y value for ZQLSQLQueryExcecutor, Adding Attribute Names."
1.Added support for list of x, list of y values; act as cross product them and populate into VisualComponentList 2. Added xAttribute, yAttribute into VisualComponent (both tested)

[2016-11-08 07:43] superchaoran commented on #78
https://github.com/zenvisage/zenvisage/commit/e0b96effa14febfc064f005fa2dfc35f9038c1ec

[2016-11-08 07:43] superchaoran commented on #78
https://github.com/zenvisage/zenvisage/commit/c5a849db38ed62a283d685039bb8624100e745ca
both fixed.

[2016-11-08 07:43] #78 closed

[2016-11-16 15:02] superchaoran opened #79 "ZQL Query Dashboard Enhancement (Passing back and forth JSON as GET)"
1.Create an endpoint at backend which takes a GET Request (URL with JSON embedded) and return a Visualization Group to front end.

2.For the Front end part, create a Javascript function that takes the URL and deserialize it into Query Table. It also should reflect Visualization Group obtained from backend.

Benefit: Bookmark Query, Easy to communicate queries with a single link. Thus, we can cite

[2016-11-16 15:08] superchaoran commented on #73
https://github.com/zenvisage/zenvisage/commit/10b2ae830e396dc75eaa5cd7dfe560c418614666

[2016-11-16 15:08] #73 closed

[2016-12-17 19:17] superchaoran opened #81 "Clean up getInterfaceFormData, Representative, Outlier, Similarity to not use inmemorydatabase construction"
Clean up getInterfaceFormData, Representative, Outlier, Similarity to not use inmemorydatabase construction.

[2016-12-17 19:27] superchaoran commented on #81
https://github.com/zenvisage/zenvisage/commit/4a6a209cadc031cd48b5f4ed749c5077eec73210
Initial clean up done for:
Stripping off inmemorydatabase from analysis,outlier,representative,similarity and multiple corresponding placesin zvmain;can't strip off from PieceWiseAgrregation(PAA) which uses it in calc

[2016-12-17 19:29] superchaoran commented on #81
![image](https://cloud.githubusercontent.com/assets/7088689/21289209/f44b2e3a-c44b-11e6-9450-1a8aff3cff99.png)
following up clean up need to
Revamp Executor to not use inmemorydatabase to construct;
Extract out inMemoryDatabase.getFormMetdaData() for all use cases;

[2016-12-17 19:32] superchaoran opened #82 "Replace Double HashMap with ZQL"
![image](https://cloud.githubusercontent.com/assets/7088689/21289225/6df8fbae-c44c-11e6-8586-f198f17666c7.png)
Initial discussion.

[2016-12-17 19:44] superchaoran commented on #81
Need revamp on PieceWiseAgrregation(PAA) which uses inMemoryDatabase in calc

[2016-12-18 10:48] superchaoran opened #83 "ZQL we're still displaying "state" instead of CA or MA for Q2 or Q3"
![image](https://cloud.githubusercontent.com/assets/7088689/21292998/4e5f48ea-c4cc-11e6-82b5-cbe3630af2a4.png)

[2016-12-19 18:08] eidehua commented on #83
Resolved with d51a827afb3b9de22f376235bd52ec211987dd83

[2016-12-19 18:08] #83 closed

[2016-12-19 18:08] eidehua commented on #61
Been done for awhile now

[2016-12-19 18:08] #61 closed

[2016-12-19 18:12] eidehua opened #84 "VisualComponent Sort issue"
With the ZQL to Graph Execution flow, I called the SQLQueryExecutor to run a sql query on the sorted subset of data.

EG the filtered k states that have the minimum distance, for instance. We would have a scores array like [0.0, 0.4, 0.6] and a values array like ["CA", "NY", "MD"].

We would run a SQL Query that selects WHERE state IN ('CA', 'NY', 'MD'), but that returns results in alphabetical or

[2016-12-19 18:12] eidehua commented on #84
Fixed with d2e4bc2a0b0eb1895dca2f8aa22ec1f518440f01

[2016-12-19 18:12] #84 closed

[2016-12-20 04:32] eidehua opened #85 "Outputting Multiple Attributes"
When an output row has something like y2<-{'soldprice', 'listingprice'} there can be some issues -- looking into it

[2016-12-20 04:32] eidehua opened #86 "Support multiple row outputs"
Currently, I accept the last row with a * in the name column as the one to be outputted-- should be changed to support multiple row outputs

[2016-12-20 04:34] eidehua commented on #39
Done, see af8fef382a03e939ff7bb6488b4e18aeede8dc44

[2016-12-20 04:34] #39 closed

[2016-12-20 04:56] #18 closed

[2016-12-20 04:57] #23 closed

[2016-12-22 05:37] eidehua commented on #85
Fixed with dbf8256ffea4633e7abb0a7b7d25769e36008cfc

[2016-12-22 05:37] #85 closed

[2017-01-02 03:06] eidehua opened #88 "Link Front end Similarity Search to ZQL"
Front end sketches and drag and drop functionality runs a similairty search. We should let this functionality go through the QueryGraph Backend.

We also need to implement more Distance measures for QueryGraph, ported from the old backend.

[2017-01-02 03:07] eidehua opened #89 "Support x<-*, y<-*"
Need to add support for ZQL queries with x and y as *

Backend needs to know the current possible x and y values, and then fill in the query with the actual values.
We need to grab this information through the metatable.

[2017-01-02 03:09] eidehua opened #90 "Slow SQL queries"
Running ZQL Query :SELECT state,month ,avg(soldprice) FROM real_estate WHERE state IN( 'NY')  GROUP BY state, month ORDER BY state, month

ORDER BY both Z and X is costly, if we use city and month on the real_estate dataset, it takes ~1600ms while if we only ORDER BY month, it takes ~550ms. This is very noticable and should be fixed.

[2017-01-02 19:31] eidehua commented on #90
Improved speeds with
9d0199c3f8bf8af9f762fd56a0f4028324de9193

Entire frontend to backend flow now takes ~2.05 - 2.15 ms

[2017-01-05 20:09] eidehua commented on #89
Added support with https://github.com/zenvisage/zenvisage/commit/cac02b0a19ad68e6ae58ee8e7fbadb41704a3bbb

[2017-01-05 20:09] #89 closed

[2017-01-05 21:48] adityagp opened #91 "Spaces within constants in ZQL"
ZQL has trouble with spaces within constants: notice 'Oklahoma City' doesn't work while 'Peoria' works fine.

![screen shot 2017-01-05 at 3 39 32 pm](https://cloud.githubusercontent.com/assets/1056605/21698780/5cac0b7c-d35e-11e6-8088-2330d178eb64.png)

[2017-01-05 21:51] adityagp opened #92 "Getting rid of empty rows within a canned query by clicking - does not work"
![screen shot 2017-01-05 at 3 33 20 pm](https://cloud.githubusercontent.com/assets/1056605/21698871/b200c28e-d35e-11e6-8bf2-9c662a794b33.png)

This also leads to problems with ZQL

[2017-01-05 21:51] adityagp opened #93 "Representative not showing correct attribute values"
![screen shot 2017-01-05 at 3 33 16 pm](https://cloud.githubusercontent.com/assets/1056605/21698891/d2c5a976-d35e-11e6-828f-2f20c21a9014.png)

[2017-01-05 21:55] adityagp commented on #43
I think this is no longer necessary with ZQL support. Closing.

[2017-01-05 21:55] #43 closed

[2017-01-05 21:56] adityagp commented on #56
Closed for now.

[2017-01-05 21:56] #56 closed

[2017-01-05 21:57] adityagp commented on #49
Moving this up and assigning to @wookhuk and @seanzyx

[2017-01-05 21:59] adityagp commented on #34
Done, given equation support.

[2017-01-05 21:59] #34 closed

[2017-01-05 22:00] adityagp commented on #36
Again, I am not convinced we want this, so I am inclined to close it. @wookhuk @seanzyx @stevenlcf what do you think?

[2017-01-05 22:01] adityagp commented on #40
Already done with Ed's X1<-* changes.

[2017-01-05 22:01] #40 closed

[2017-01-05 22:02] #37 closed

[2017-01-05 22:04] adityagp commented on #15
Closing: all of these are already handled, for the others I will initiate new issues.

[2017-01-05 22:04] #15 closed

[2017-01-05 22:04] adityagp opened #94 "Automatic binning for continuous valued attributes"
For example, for the CMU datasets.

[2017-01-05 22:06] adityagp commented on #19
Closing for now.

[2017-01-05 22:06] #19 closed

[2017-01-05 22:08] adityagp commented on #41
Handled within ZQL. Closing.

[2017-01-05 22:08] #41 closed

[2017-01-05 22:08] adityagp commented on #6
Done. Closing.

[2017-01-05 22:08] #6 closed

[2017-01-05 22:10] adityagp commented on #46
Too vague an issue. Closing.

[2017-01-05 22:10] #46 closed

[2017-01-05 22:10] stevenlcf commented on #36
I think it's fine for users to have a high-resolution sketchpad. What's the concern here? Will it reduce the computation? If users want to input a specific pattern, I think they might use the **Input equation** function.

[2017-01-05 22:11] adityagp commented on #36
I believe the concern is the computation both from an in-memory processing standpoint and a database SQL processing standpoint.

[2017-01-05 22:12] adityagp commented on #50
Both of these are good but are they on the system? @seanzyx @stevenlcf

[2017-01-05 22:19] stevenlcf commented on #50
Yes, and I also implemented k-shape's metric, SBD (SBD isn't provided in the interface but it's easy to add it). Users can use them for similarity search now.
One possible problem is that zenvisage removes z-score normalization now which might affect the results.

[2017-01-05 22:44] #44 closed

[2017-01-05 22:45] adityagp commented on #30
i am assuming @wookhuk that this dealt with? if so, go ahead and close the issue.

[2017-01-06 14:57] adityagp opened #95 "Start with one of the existing Z values for the canvas when attributes are changed."
As opposed to a weird straight line from min to max.

[2017-01-06 15:09] wookhuk commented on #95
fixed!

[2017-01-06 15:09] #95 closed

[2017-01-06 15:09] wookhuk commented on #93
fixed!

[2017-01-06 15:09] #93 closed

[2017-01-06 15:19] siddta opened #96 "Move usernames, passwords, and ports out of the java files into a config (txt) file"
(Conversation with Ed on slack)

We could move ports, usernames, and passwords out from the java files into a txt file
and then in ZvServer class just before starting the server, we load these properties into a static java class.

Wherever we use these ports, usernames and passwords we directly get the values from the static class
that way if the user wants to use his own different port, username

[2017-01-06 15:20] siddta opened #97 "Installation setup on windows."
Current instructions are mostly for Unix-based Oses.

[2017-01-06 15:21] siddta opened #98 "Preload demo datasets"
So that users can start right off the bat.

[2017-01-06 19:30] siddta commented on #98
fixed__

[2017-01-06 19:30] #98 closed

[2017-01-07 02:51] #30 closed

[2017-01-07 02:51] #36 closed

[2017-01-07 02:52] #54 closed

[2017-01-07 02:52] #55 closed

[2017-01-07 02:52] wookhuk commented on #92
fixed

[2017-01-07 02:52] #92 closed

[2017-01-07 15:55] eidehua opened #99 "ZQL drag and drop should change the frontend selected axes"
ZQL may have output charts that are different axes than the frontend selected one, so drag and drop should change accordingly

[2017-01-07 16:07] eidehua opened #100 "Reduce size of constraint column, increase size of process column"
Reduce constraint by half
Maybe also reduce z a little
Increase process column size

[2017-01-07 20:30] adityagp opened #101 "Issue with spaces in the path to the data folder"
Throws an exception:

Exception in thread "main" java.io.FileNotFoundException: /Users/aditya/Box%20Sync/Research%20Implementation/VisualizationProj/implementation-zenvisage/zenvisage/target/classes/data/real_estate.txt (No such file or directory)
    at java.io.FileInputStream.open0(Native Method)
    at java.io.FileInputStream.open(FileInputStream.java:195)
    at java.io.FileInputStream.<init>(

[2017-01-07 21:56] adityagp opened #102 "Dates are not properly displayed on frontend"
Instead months are 0, 1, ..., 120.

[2017-01-07 22:13] siddta opened #103 "X axis values getting divided by 1000"
When X axis values have four or more digits, results and typical trends charts seem to have the above issue. For example, year 2010 is shown as 2.010k.

[2017-01-08 15:10] adityagp commented on #47
Closing this. Not crucial at the moment.

[2017-01-08 15:10] #47 closed

[2017-01-09 05:40] adityagp commented on #100
Done!

[2017-01-09 05:40] #100 closed

[2017-01-09 05:40] adityagp commented on #91
Done! Thanks Ed!

[2017-01-09 05:40] #91 closed

[2017-01-09 05:41] adityagp commented on #59
Closing...

[2017-01-09 05:41] #59 closed

[2017-02-02 22:09] wookhuk commented on #101
So this problem can be resolved if you place the files in the target folder. Chaoran explained me to this earlier and might have a better idea on why this is happening.

[2017-02-02 22:49] superchaoran commented on #101
Yes. I know the crux of this problem. Since tarique has implemented a auto loading functionality when the server starts, we need to have datasets and schemas inside data folder by default. You can see the error is coming from ZvServer.loadDemoDatasets(ZvServer.java:108). so by putting those datasets and schema in dropbox, this issue can be solved.(remember that we moved github datasets to a dropbo

[2017-02-05 17:22] superchaoran commented on #81
Cleaning up unsued stack memory allocated for storing column data;

[2017-02-05 17:48] superchaoran commented on #81
![image](https://cloud.githubusercontent.com/assets/7088689/22628387/ccabdc70-eb98-11e6-8178-ae772b5204fd.png)
![image](https://cloud.githubusercontent.com/assets/7088689/22628388/d2dd259a-eb98-11e6-8c43-ebccb146b781.png)
![image](https://cloud.githubusercontent.com/assets/7088689/22628390/dec3f78a-eb98-11e6-8ed9-f43c9e91dc45.png)
System now works with very large dataset. At least we can take in 6

[2017-02-05 17:53] #81 closed

[2017-02-05 17:54] superchaoran commented on #82
We have discussed that Hashmap takes in minor space on stack. Since it is not a full representation of the whole dataset table but a small fraction based on constraints.

[2017-02-05 17:54] #82 closed

[2017-02-06 06:24] eidehua commented on #81
Great 👍

[2017-02-06 21:09] wookhuk commented on #99
hey @eidehua I get the "ZQL may have output charts that are different axes than the frontend selected one" part. What is your expected behavior during drag and drop?

[2017-02-07 06:05] siddta opened #105 "Find top k classes that are most similar to a given visualization"
We plan to start with a simple algorithm, which makes the following assumptions.
- selected X and Y attributes will have no constraints.
- every other attribute can have a maximum of one constraint.
- euclidean distance based similarity
- line charts only

Flow:
Users will draw the desired visualization (sketch), click "Submit", the backend will send back top k (10 by default) visualizations with

[2017-02-07 14:24] adityagp commented on #99
Expected behavior is that when we drag and drop then we use the dragged visualization's axes.

[2017-02-07 14:34] superchaoran commented on #105
This might be an interesting paper to look at[Discovering Structure in High-Dimensional Data
Through Correlation Explanation](https://arxiv.org/pdf/1406.1222.pdf)

[2017-02-07 14:39] adityagp commented on #105
Very interesting paper, Chao!

[2017-02-07 14:48] superchaoran commented on #105
@adityagp Sorry the paper I found was a bit outdated for current trend. This one might be better:

[2017-02-07 14:57] superchaoran commented on #105
We can view our data points as image inputs if they are dense enough, then we can use GAN to train and have features and patterns identified.Interesting part would be what is the high dimensional data cube has very sparse data points.

[2017-04-03 19:17] wookhuk opened #107 "sample ZQL table query is not working"
sample queries are not returning any results

[2017-04-09 21:53] siddta opened #108 "Fix/improve the logging at the backend."
- Remove all garbage logs
- Make logs more meaningful and structured.
- Add two types of logs: runtime logs and debug logs.
     Runtime logs should be less verbose and should printout only important messages,
     Debug logs should be more verbose, should printout parameters of all function calls, and maybe output of important processing steps. Debug log wont be on by default, we can set them to

[2017-04-09 21:55] siddta commented on #108
https://www.javacodegeeks.com/2011/01/10-tips-proper-application-logging.html

[2017-04-13 07:03] superchaoran opened #109 "Migrate file based schema management to postgres metatables."
1. We still need to use the wrapper type class for the arbitrary type of x,y,z list.
2. But for the construction of the class,  we should get the type from metatable and use that instead of regex.
3. Regex conversion method can be saved/commented out for in future elimination of schema file upload process.

[2017-05-01 18:22] superchaoran opened #110 "ConcurrentModificationException may prevent Representative and outlier graph being presented"
May 01, 2017 1:14:09 PM org.apache.catalina.core.StandardWrapperValve invoke
SEVERE: Servlet.service() for servlet [zv] in context with path [] threw exception [Request processing failed; nested exception is java.util.ConcurrentModificationException] with root cause
java.util.ConcurrentModificationException
	at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:901)
	at java.util.ArrayL

[2017-05-01 18:23] superchaoran commented on #110
![image](https://cloud.githubusercontent.com/assets/7088689/25589198/4eef51ec-2e71-11e7-83ae-8da8ecf4a688.png)

[2017-05-08 19:16] superchaoran commented on #110
Fixed by adding a synchronized block at the backend for retrieving double linked hashmap.

[2017-05-08 19:16] #110 closed

[2017-05-08 19:16] superchaoran commented on #110
commit f75d824d2f217782c4e3fdefdf8723e6c3108a9f

[2017-05-08 19:42] superchaoran commented on #110
commit 2049bf10e068c29019d4f958fc9c08b92af91026

[2017-08-06 19:37] #108 closed

[2017-08-06 19:38] #105 closed

[2017-08-06 19:38] #33 closed

[2017-08-06 19:40] #107 closed

[2017-08-06 19:44] #96 closed

[2017-08-06 19:44] #90 closed

[2017-08-06 19:45] #53 closed

[2017-08-06 19:47] #58 closed

[2017-08-06 19:50] #86 closed

[2017-08-06 19:51] #49 closed

[2017-08-20 19:35] #101 closed

[2017-08-20 19:35] #103 closed

[2017-08-20 19:35] #97 closed

[2017-08-20 19:39] #79 closed

[2017-08-21 03:38] dorisjlee opened #128 "Loess smoothing breaks for certain choice of parameters"

[2017-08-21 03:40] dorisjlee opened #129 "Dynamic Class Creation enable for x,y,z attributes"
Dynamic Class creation should be done on all possible attribute (not just y attributes). Currently, in the class creation table only y attributes are displayed.

[2017-08-21 03:46] dorisjlee opened #130 "Eliminate display of -1 classes for dynamic class results"
Do not display classes with no data satisfying that condition(i.e. class value shown as negative classes) from showing up.
Example with astro dataset :
![image](https://user-images.githubusercontent.com/5554675/29502943-62639b4a-85f9-11e7-9dba-549d8bfd24af.png)

[min, 6.0], [6.0, max]
[min, 18.0], [18.0, 20.0], [20.0, max]

![image](https://user-images.githubusercontent.com/5554675/29502947-7049cc

[2017-08-21 03:48] dorisjlee opened #131 "Error bar for smoothed data"
Is the error bar being plotted on smoothed data +/- error or original data+/- error? I think we are doing +/- on the smoothed data, whereas we should be doing original +/- error, because even with smoothing the error bars on both sides are equal. We need to do the latter so that user has a good sense of how well the smoothing is doing wrt smoothing changes.

[2017-08-21 03:54] dorisjlee opened #132 "Limiting scrollbar range for results panel"
The query results scrollbar should be limited the page width so that one could scroll through the results (not via the master scroll bar for the whole page). This is a bug because currently visualization at the bottom of the page can not be dragged and dropped onto canvas without pressing the UP button and dragging up at the same time.
![image](https://user-images.githubusercontent.com/5554675/295

[2017-08-21 03:59] dorisjlee opened #133 "Drag and drop display issue"
When dragging and dropping representative and outlier, the visualization doesn't show up if it crosses the settings panel. @siddta suggest that we might need to change the z-value in the CSS which determine the relative order of elements.
![image](https://user-images.githubusercontent.com/5554675/29503143-cf5a07f6-85fa-11e7-8e7f-e98fb849fcd3.png)

[2017-08-21 04:02] dorisjlee opened #134 "Stop rerendering outliers and representative every time a query is fired"
We only need to recompute outliers and representative when we change smoothing or filtering constraint. Other times when we simply do simmilarity search, it is unecessary to resubmit the outlier and representative patterns  to the backend.

Fixing this bug requires some knowledge of how angular JS works. @jaywoo123 has taken look at this issue previously.

[2017-08-21 04:05] dorisjlee opened #135 "Better uploading functionality for ZV"
- schema-free interface for uploading
- more data validation and error message prompt shown on the frontend

[2017-08-21 17:43] siddta opened #136 "Make similarity search robust to extreme outliers"
Or should we remove extreme outliers during the data-cleaning?

[2017-08-21 17:44] siddta opened #137 "Integrate vertica with zenvisage"

[2017-08-21 18:03] siddta opened #138 "Add more validation checks at the front-end"

[2017-08-21 18:05] siddta opened #139 "Display errors occurring at the backend during query execution to users in a meaningful way"

[2017-08-21 18:11] siddta opened #140 "Uploaded data and schema files should not be stored in target folder"
-- On rebuilding these files get erased, causing getformdata error at the front-end. Users currently need to re-upload the files with a new dataset name.

To resolve this,
--  Save files in a src/main/resources folder. @jaywoo123 tried this, but I guess saw some path related issues.
-- ideally, all schema details should be read out of database metatables.

[2017-08-23 17:58] dorisjlee opened #142 "Dynamic class example, outlier does not render"
In real estate tutorial dataset example, if you create the class : forclosureratio : [min,5],[5,max]. The outlier doesn't render when dynamic_class is selected as Category axis.

![image](https://user-images.githubusercontent.com/5554675/29630605-6241ea9e-8802-11e7-8951-1884e0597f81.png)
Error message on the frontend, no backend errors:
[code]

[2017-08-23 18:00] dorisjlee opened #143 "Dynamic class schema file manual addition"
Currently for dynamic_class to be displayed as a category axis, we need to manually add in the line
``dynamic_class:string,indexed,F,F,T,F,F,0,Q`` after data upload into the schema file. This should be changed and done automatically.

[2017-08-24 01:43] siddta opened #144 "Too many connections to postgres"
Error:  org.postgresql.util.PSQLException: FATAL: sorry, too many clients already

There are two ways to resolve this issue:
a) Increase the number of connections in the postgres (by default it's set to 100 or 120)
b) Afaik we are opening a new connection for every query, and possibly we may not be closing the connections properly. WE SHOULD REUSE THE CONNECTIONS. The ideal way to handle this woul

[2017-08-26 05:16] jaywoo123 commented on #133
fixed with 'appendTo: body' attribute of draggable ui

[2017-08-26 05:16] #133 closed

[2017-08-26 05:20] dorisjlee commented on #133
[Link to commit 3d88f02](https://github.com/zenvisage/zenvisage/commit/3d88f02bc1e601e8c04234d42842aef44a0ed431)
Thanks @jaywoo123 !

[2017-08-29 03:30] jaywoo123 commented on #134
Pushed changes that fix recomputation. Needs to be tested though.

[2017-08-30 18:53] dorisjlee opened #145 "Zenvisage doesn't work when postgres runs on a different port"
Change README instruction. By default postgres runs on port 5432, if this is changed if another address is busy, then Zenvisage can not detect where postgres is running and can give port not found or permission denied error.

[2017-08-30 19:55] dorisjlee opened #146 "dynamic_class_aggregations table not generated automatically"
dynamic_class_aggregations table is not generated automatically :
[code]

There seems to be a line that automatically creates the dynamic_class aggregation table already
does this but it doesn't seem to create the table automatically when @siddta or I tried it (SQLQueryExecutor.java:576-594). If this doesn't work automatically, we should add

[code]
into the README.

[2017-08-30 22:05] dorisjlee opened #147 "Distance Normalization Out of Range issue"
For astro datasets, we've noticed that many of the similarity scores show up as the same value even though they are clearly very different.

The real issue why this shows up on the astronomy datasets is that when we look at objid_cycle as the z axis, the x axis can be vastly different which results in very high Euclidean scores, whereas most of the observations on the same cycle have order of magn

[2017-09-04 18:20] dorisjlee opened #148 "Query comparison green plot doesn't show up for latter x axis values"
In the green query comparison plot in the results panel, the query visualization doesn't show up for larger values of x.
![image](https://user-images.githubusercontent.com/5554675/30035845-dd914634-9173-11e7-8d9c-5a70b3a6108d.png)

[2017-09-09 00:39] superchaoran commented on #146
Fixed by adding in Create table both in README and server startup check.
https://github.com/zenvisage/zenvisage/commit/f9078185b84d1a26d800fe0594bc12cca430aeb5
https://github.com/zenvisage/zenvisage/commit/46f2426b52740145ebc825080fec0cacf38268b1
This will ,
1.help check and create table:dynamic_class_aggregations for current zenvisage developer who use linux command to build and run.
2.help new z

[2017-09-09 00:39] #146 closed

[2017-09-12 02:17] siddta opened #150 "docker not able to run zenvisage"
Docker build is successful, but fails to run the service. Maybe because postgres start was unsuccessful.

Error:
ubuntu@zenvisage:~/zenvisage$ sudo  docker run --name zenv1 -d -p 8080:8080 zenvisage

ubuntu@zenvisage:~/zenvisage$ sudo  docker logs zenv
psql: could not connect to server: No such file or directory
	Is the server running locally and accepting
	connections on Unix domain socket "/var/

[2017-09-14 04:23] dorisjlee commented on #144
This happens when you click on too many control options and settings in a short period of time. This can actually happen quite often in practice in the scenario when something is not loading (say DTW), then the users might want to try something else (but some background process is still running), they click on many things because nothing is loading, then the system crashes because of too many clie

[2017-09-14 16:05] zwang180 commented on #144
This happens a lot during benchmarking, where a method that need to connect to PostgreSQL runs many times in order to measure average performance.

And note if you increase the number of maximum allowed connections too high, at some point you will get another error saying PostgreSQL cannot fork since there is not enough resources. So if you are using the first way to solve this, be careful when ch

[2017-09-14 16:43] superchaoran opened #151 "Improve file upload user experience, cut down schema upload"
1.Front-end variable selection;(done)

 2.Sending front-end variable selections as JSON to back-end and deserialize;(done)

 3.Use schema selection to create tables instead of the uploaded schema file.

 4.Remove schema upload at front-end and back-end receiver.

 5.Delink all associations to schema file at the back-end, including meta table creation, data-set schema creation, and store complete m

[2017-09-14 16:46] superchaoran commented on #151
1.Front-end variable selection;(done)
https://github.com/zenvisage/zenvisage/commit/599fa51f8319d3bd003e9f7f2d2de062a49f53e6
https://github.com/zenvisage/zenvisage/commit/8c66b26c82159bb7d0c93df4ac5f333a10f0682b
https://github.com/zenvisage/zenvisage/commit/336764ef469ab76f0df444ad149b9b6a0b25ba87

[2017-09-14 16:48] superchaoran commented on #135
refer to https://github.com/zenvisage/zenvisage/issues/151

[2017-09-14 16:48] #135 closed

[2017-09-14 16:49] dorisjlee commented on #151
thanks, @superchaoran , @jaywoo123 !

[2017-09-14 16:53] dorisjlee opened #152 "File upload size limit"
We should limit the user to only be able to upload files that are smaller than 100MB on the web version. This option should be toggleable, because we don't want this if zenvisage is installed locally. If the file exceeds 100MB then show a popup warning and deny upload. This should all be doable in the frontend.

[2017-09-14 17:11] siddta commented on #144
are we not closing the connection after the query has finished, could you someone pls check?

[2017-09-14 17:43] zwang180 commented on #144
Oh, it seems Zakaria never close the connection he established in DataService. I will submit a patch later to the NLP repo. Should I move this as a separate issue in the NLP repo too?

[2017-09-14 17:44] siddta commented on #144
sure, @superchaoran could you please check the same in ZV v2.0, whenever you get time.

[2017-09-14 18:01] superchaoran commented on #144
sure thing. haven't been able to reproduce the error. will try that, @siddta.

[2017-09-18 17:52] jaywoo123 commented on #152
finished

[2017-09-18 17:52] #152 closed

[2017-09-18 19:40] siddta opened #153 "Support heirachical clustering"
This is a new feature.Seems bioinformatics folks need this.

[2017-09-18 19:45] siddta opened #154 "Support comparisons across x, y, and z attributes using sketching panel."
To start with, we can support two new features to make this easier:
a) do not erase the sketching canvas on switching attributes.
b) can we copy the viz in a buffer and paste it in the canvas as we switch attributes.
c) we could perhaps also have "add to cart" functionality to store multiple visualizations in the buffer, and use them later on in the exploration for similarity/dissimilarity matchin

[2017-09-19 19:09] adityagp commented on #154
The ability to "star" visualizations to see them later, or record some form of history is a very natural idea. You're proposing going beyond that; when would we want to remember a viz "shape" for a future query?

[2017-09-19 19:10] adityagp commented on #153
Can you provide more details as to what you have in mind?

[2017-09-19 21:59] dorisjlee commented on #153
I think they wanted a more systematic way of exploring the clusters through dendrograms and hierarchical clustering. This type of visualization is pretty typical in looking at gene expression data, but I'm not sure if that's a feature we want in ZV though.
https://images.nature.com/full/nature-assets/ng/journal/v46/n4/images/ng.2916-SF8.jpg

[2017-09-19 22:46] siddta commented on #153
I meant something simple not as complex as the attached journal image. I can discuss more this in the meeting.

[2017-09-19 22:51] siddta commented on #154
This is related to the visual primitives I was mentioning earlier, can explain more when we meet.

[2017-09-20 00:22] siddta commented on #140
@jaywoo123 has this been already fixed? I think it is.

[2017-09-20 00:25] siddta commented on #145
@zzhng107 when you have time could you please extract postgres port out into the config file from the SQLQueryExecutor class? That way we can run postgres on a different port, and simultaneously modify the config file.

[2017-09-20 00:29] siddta opened #155 "Authentication"
Maybe @zzhng107 can update how he is planning to implement, or can wait until we meet.

[2017-09-20 05:31] jaywoo123 commented on #140
Yes, I just tried uploading a dataset and rebuilding. I did not get any formdata error. If you see this problem again, let me know.

[2017-09-20 15:59] #140 closed

[2017-09-20 21:26] #147 closed

[2017-09-21 00:34] #154 closed

[2017-09-21 01:19] siddta opened #156 "Point zenvisag.cs to knoweng deployment"
zenvisage.cs.illinois.edu
http://141.142.210.62:8080/

[2017-09-21 21:46] dorisjlee opened #157 "startup popup"
When the user starts up Zenvisage, they should get a popup directing them to the tutorial and some basic intro blurb about Zenvisage. In that popup we should also have an option to "Don't show me this again" for users that are familiar with zenvisage.

[2017-09-22 13:27] adityagp opened #158 "Representative trend numbers are not very descriptive"
The numbers in parentheses are not very descriptive.
We should say: "(2345 more like this)" or something.

[2017-09-22 16:59] siddta opened #159 "Explain briefly the key features of the distance measures"
Currently, other than the Euclidean distance it's not clear what other measures do, and how they are different from each other.

-- In the interface, add a line or two for each measure to describe the distinguishing feature.
-- Add a wiki page where users can be pointed to for more details.

[2017-09-22 17:44] adityagp opened #160 "Outliers is not shown, and representatives is not shown for the breast cancer dataset"
<img width="1649" alt="screen shot 2017-09-22 at 12 43 12 pm" src="https://user-images.githubusercontent.com/1056605/30757289-bfa48748-9f93-11e7-9f18-afe30786ff63.png">

[2017-09-22 17:46] jaywoo123 commented on #157
testing on other devices is needed as the 'dont show me again' button uses variables local to device.

[2017-09-22 23:16] #51 closed

[2017-09-23 05:45] eidehua opened #161 "Backend called twice during drag and drop"
When you are on the network tab in developer tools, it shows postSimilarity and getClassInfo are called twice. When you do a sketch change it just does it once, so I believe this is a bug.

![pasted image at 2017_09_22 03_58 pm](https://user-images.githubusercontent.com/7684873/30770508-444c4ad0-9ff8-11e7-844f-ba47ac3d7777.png)

[2017-09-23 05:48] eidehua commented on #88
Part of plan to support entire front end through ZQL, should be post 2.0

[2017-09-23 05:48] #88 closed

[2017-09-23 14:36] dorisjlee commented on #160
This is because the choice of y-axis is should be expression. chipassoc and diffexp are binary attributes for each gene, not time series. Technically they should be "z" values, but dynamic classes only work if you have them as y variables, so that's why I've set them as y variables.
<img width="1202" alt="screen shot 2017-09-23 at 9 35 19 am" src="https://user-images.githubusercontent.com/5554675/

[2017-09-23 14:37] adityagp commented on #150
Is this still an issue? @jaywoo123 did you figure out why @siddta's deployment didn't work?

[2017-09-23 14:40] adityagp commented on #143
Is this still necessary? Also related to issue #151

[2017-09-23 14:42] adityagp commented on #160
I see. For now, can we pick attributes that are meaningful to display when we select the preloaded dataset?

[2017-09-23 14:44] adityagp commented on #32
Closing this since Dynamic Classes + Error Bars captures this.

[2017-09-23 14:44] #32 closed

[2017-09-23 14:47] adityagp commented on #94
@dorisjlee @wookhuk How is this done presently?

[2017-09-23 14:51] adityagp commented on #99
I verified that this is not complete. @eidehua can you take a look? When I dragged and dropped, the axes stayed the same as before.

<img width="1666" alt="screen shot 2017-09-23 at 9 49 54 am" src="https://user-images.githubusercontent.com/1056605/30774214-9f52ac7a-a044-11e7-83d5-13700e57fae0.png">

[2017-09-23 14:52] adityagp commented on #102
I believe this is fixed, correct @dorisjlee @jaywoo123 @eidehua? Can we make clear the date format we want in the schema instructions?

[2017-09-23 14:53] adityagp commented on #109
Huh? the topic and content seem to be very different @siddta @superchaoran can you clarify?

[2017-09-23 14:54] adityagp commented on #128
Is this reproducible? Where is the fault at? @dorisjlee

[2017-09-23 14:56] adityagp commented on #129
This is good to address. @superchaoran can you take a look?

[2017-09-23 14:57] adityagp commented on #130
@superchaoran Can you take a look while you're taking a look at #129

[2017-09-23 14:58] adityagp commented on #131
This is a good point, but perhaps not high priority enough for Release 2.0.

[2017-09-23 14:59] adityagp commented on #132
This is an important usability bug to fix. @zzhng107 can you take a look?

[2017-09-23 15:00] adityagp commented on #134
Any update on this? Related to #161 ? @eidehua @dorisjlee

[2017-09-23 15:00] adityagp commented on #137
Not high priority. Pushed to post Release 2.0

[2017-09-23 15:01] adityagp commented on #139
Can you provide more details re: what you mean by errors in the backend?

[2017-09-23 15:02] adityagp commented on #138
Closing this, since this doesn't seem to be a bug or a feature.

[2017-09-23 15:02] #138 closed

[2017-09-23 15:02] adityagp commented on #136
Not high priority. Do you mean by outlier visualizations or outlier points within a visualization?

[2017-09-23 15:04] adityagp commented on #38
Not high priority. Pushed to post release 2.0

[2017-09-23 15:06] adityagp commented on #159
Same as issue #50. This is a high priority item for the release. We should add a ? next to each header that describes what that header does. @jaywoo123

[2017-09-23 15:07] adityagp commented on #139
Closing this for now.

[2017-09-23 15:07] #139 closed

[2017-09-23 15:13] adityagp opened #162 "Example ZQL queries should be associated with dataset information"
Right now, it reads as Q1, Q2, ... I wasn't sure whether the query was applicable to the dataset I was playing around with.

A simple improvement to make it clear which dataset they belong to would be Q1(Real Estate) Q2(...) Q3(Airline) etc.

[2017-09-23 15:14] adityagp opened #163 "Wiki needs to be better organized and more complete"
Wiki needs to have a central page that talks about installation instructions, instructions on how to use ZQL, instructions on how to use other features.

[2017-09-23 15:19] adityagp opened #164 "ZQL needs to throw better errors"
Right now, there are no error messages provided by the ZQL execution engine; it just silently fails.

This is important feedback for users who want to use it.

[2017-09-23 15:20] adityagp commented on #164
I feel like a simple error message that says "Malformed ZQL" is a valuable start; even something as simple as "Unknown variable 'X1'" or "Uninterpretable expression 'State.'CA'" would be very useful

[2017-09-23 15:44] adityagp opened #165 "Weirdness when two tabs are open with zenvisage"
Parameters from one seem to transfer onto another. I opened two zenvisage tabs, one where I did smoothing -- those parameters moved to the other tab as well.

[2017-09-23 15:45] adityagp opened #166 "Default smoothing"
I think a default Loess smoothing with 0.5 makes for a relatively noise-free experience.
Should we set it to that in general? Discuss.

[2017-09-23 19:32] siddta commented on #165
Possibly because code is shared across the tabs in browsers, and we might be using global/shared variables in the front-end to maintain the state.

[2017-09-23 19:38] siddta commented on #161
I have observed this before as well; even for representative / outliers front-end  seems to be making more than one calls for the same query. This problem gets further aggravated when users make changes to parameters (e.g. smoothing) in quick succession, ultimately resulting in many connections to postgres, and sometimes crashing it (we've another issue for this).

[2017-09-23 20:36] siddta commented on #109
If we move to the metatable, we can store the types of attributes directly in the table, so we wouldnt need to use regex.

[2017-09-24 05:51] jaywoo123 commented on #50
<img width="717" alt="screen shot 2017-09-24 at 12 42 51 am" src="https://user-images.githubusercontent.com/26175962/30779855-246c2bc0-a0c2-11e7-8d97-8d84084eaf7d.png">

Unfortunately, these ? that I added add indentations. If I extend the containers of the headers, the headers may not be visible in 13 inch computers. Are there possible abbreviations that we can use for the long headers?

[2017-09-24 05:52] jaywoo123 commented on #159
<img width="717" alt="screen shot 2017-09-24 at 12 42 51 am" src="https://user-images.githubusercontent.com/26175962/30779865-921e50a8-a0c2-11e7-9232-261655763ffa.png">
Unfortunately, these ? that I added add indentations. If I extend the containers of the headers, the headers may not be visible in 13 inch computers. Are there possible abbreviations that we can use for the long headers?

[2017-09-24 08:35] jaywoo123 commented on #161
Confident that this is fixed. Please check if the behavior is correct. This was caused due to minor bug in "brushed" function of draw.js which triggered getUserQueryResults one more time.

[2017-09-24 14:00] adityagp commented on #159
Yes! Rename them as Aggregate, Cluster Size, Similarity Cutoff and it would
be good to rename Input equation to Input Equation. Otherwise, this looks
good!

On Sun, Sep 24, 2017 at 12:52 AM jaywoo123 <notifications@github.com> wrote:

--
Aditya Parameswaran
Assistant Professor, Illinois CS
http://data-people.cs.illinois.edu

[2017-09-24 19:36] #159 closed

[2017-09-24 22:58] dorisjlee commented on #132
This is now  resolved by commit [6af574bc](https://github.com/zenvisage/zenvisage/commit/6af574bc2142a7fd920a06900f3ad6691a34ca10) and [48edf75](https://github.com/zenvisage/zenvisage/commit/48edf7552fafe4650a7f1a616dce550f398cf9b2).

[2017-09-24 22:58] #132 closed

[2017-09-24 23:02] dorisjlee commented on #128
@siddta and I have looked into this issue before but we're not sure where the issue is since the error is coming from an external package that we are using for conducting loess smoothing.

[2017-09-24 23:05] dorisjlee commented on #94
Not really sure what you meant by binning, I don't think any binning is currently done and don't see the point unless we have large number of datapoints for scatter (non-aggregated).

[2017-09-24 23:11] adityagp commented on #94
There are two aspects here -- if we are plotting a continuous attribute on the x axis, are we expecting users to specify how to aggregate it, e.g., we have physical quantities and are plotting it as a line chart. The second aspect is, of course, the scatterplot case, which is probably less important at the moment.

[2017-09-24 23:11] adityagp commented on #132
Excellent -- thanks @dorisjlee!

[2017-09-24 23:12] adityagp commented on #159
Super -- thanks @jaywoo123! Closing the other issue as well.

[2017-09-24 23:13] adityagp commented on #50
closing this based on #159

[2017-09-24 23:13] #50 closed

[2017-09-24 23:14] adityagp commented on #156
Waiting on engrit -- email has been sent

[2017-09-24 23:22] dorisjlee commented on #94
For case one, there is a frontend option for selecting aggregation method as Sum, Average or None. The None option was added recently for CMU because they wanted to return all the solvent in an un-aggregated form.

[2017-09-25 02:37] siddta commented on #94
I think we are confusing binning with aggregation, right now we don't do any binning. When we turned on scatter-plots for cmu folks, we did see some overplotting issues, so binning on both x and y could be helpful there.

[2017-09-25 14:20] adityagp commented on #161
@eidehua can you check to see if the fix addresses the issue?

[2017-09-25 14:25] dorisjlee commented on #160
I've now hardcoded the attribute selection for the preloaded dataset in commit [59e16dd](https://github.com/zenvisage/zenvisage/commit/59e16ddd0a33d352b72f371e20f74006b56e4ee1).

[2017-09-25 14:25] #160 closed

[2017-09-25 14:26] adityagp commented on #160
Outstanding! Thanks @dorisjlee

[2017-09-25 17:23] siddta commented on #164
We need to update the Results class with two additional attributes: isSuccess and errorMessage. The back-end should set isSuccess to false if something goes wrong; and should map the actual error to a more understandable message based on the component of zv that is throwing the error. So we should have a list of error-messages (user-defined exceptions) stored somewhere.
Front-end before parsing th

[2017-09-25 17:27] adityagp commented on #164
Agreed that this is more involved, but right now, is there no way for the backend to communicate that there is an error in ZQL? For example, it could set the result list to be a nullset.

[2017-09-25 17:29] siddta commented on #164
right now I think it either throws an actual java error message, or doesn't return anything, both of which front-end fails to understand. Adding isSuccess and errorMessage to the output should fix.

[2017-09-25 17:56] zwang180 commented on #164
Not sure if this is a good idea, but you could let the backend return the current result class along with setting the http status code to 500, which indicate internal server error, when something is wrong in the backend. Thus the frontend can just add a error handling function like this(use my regex execution code as an example):

[code]
For the future, add error message field to result class, so

[2017-09-25 19:04] siddta commented on #164
that's a good idea @zwang180, instead of status code we can maybe set isSuccess variable to false, but either way is fine.

[2017-09-25 19:10] eidehua commented on #164
I do think responding with status codes would be the better way to do it. Normal execution would just return 200 OK, if we get a backend exception we can return 500

[2017-09-25 19:27] siddta commented on #164
okay, we can go with status=500 instead of isSuccess=false, if it doesn't break the front-end. The other thing is that we should catch all the exceptions (we are currently not catching quite a few of them, resulting in backend failing silently), and then convert those exceptions to meaningful messages.

[2017-09-25 19:35] siddta opened #167 "ZQL query Q6 doesnt work when k > 1"

[2017-09-25 19:39] siddta opened #168 "Adding features to process column in ZQL"
- Representative (R)
- Outliers (O)
- Threshold based filtering in process (e.g. k>0;k<0); currently we can only specify a fixed number (e.g. k=5). This is useful for increasing/decreasing type of queries.

[2017-09-27 03:07] superchaoran commented on #144
This does not happen on my machine. Might need some help to reproduce the error @siddta. Thanks!

[2017-09-27 08:26] eidehua opened #169 "Unit Tests"
There needs to be a lot more unit tests in the backend. I have created a fair number to test different ZQL queries, but as our system gets more mature it is better to have tests for all other areas as well, for instance our REST API can be tested (a good test would be to trigger an error on purpose), as well as our SQLQueryExecutor. I know there are a few tests in SQLQueryExecutor java file itself

[2017-09-27 08:31] eidehua commented on #164
Confirmed we can set status to 500, using
response.sendError(HttpServletResponse.SC_INTERNAL_SERVER_ERROR, "hey");

![image](https://user-images.githubusercontent.com/7684873/30903388-39794c2c-a334-11e7-9a34-9ed88d18104a.png)

Now frontend just needs to handle errors

[2017-09-27 20:39] dorisjlee commented on #165
I've just tested this locally with 3 tabs and operating on 3 different datasets, changed various parameters (including smoothing), and it seemed to work fine.

[2017-09-27 20:42] dorisjlee opened #170 "Show scatter should make representative and outliers also show datapoints"
![screen shot 2017-09-27 at 3 41 08 pm](https://user-images.githubusercontent.com/5554675/30936718-58840dee-a39a-11e7-94f6-4fe3a03eb2fd.png)

[2017-09-27 21:32] adityagp commented on #164
Looks good to me! For now, can we just throw an error message at the front end, without worrying about it too much?

[2017-09-27 21:33] adityagp commented on #169
Good idea. Let's discuss how to proceed when we meet next.

[2017-09-28 04:45] siddta commented on #165
@adityagp which browser did you use? It doesn't work correctly on Safari, and maybe on firefox too.

[2017-09-28 12:01] dorisjlee commented on #134
I think backend is no longer calling outlier and representatives now, based on looking at frontend behaviour and also backend logs.

[2017-09-28 12:01] #134 closed

[2017-09-28 13:18] adityagp commented on #134
Super!

[2017-09-28 13:22] adityagp commented on #167
This is a longer conversation about ZQL semantics: the query executes, but doesn't give the possible desired output, instead opting for a cross-product, correct?

[2017-09-28 13:25] adityagp commented on #165
I had this happen with two tabs on Chrome. I did open one tab a bit later (say 10 minutes) than the first, and then when I came back to the first, I found that some of the settings had carried over. If this is not repeatable, we can hope it doesn't happen and close this issue.

[2017-09-28 13:26] adityagp commented on #94
Agreed w @siddta, but OK to defer this.

[2017-09-28 13:36] dorisjlee commented on #166
I don't think we should do this because if a dataset is already fairly clean, then Loess takes time and could also potentially break ([Issue #128](https://github.com/zenvisage/zenvisage/issues/128)). It might also smooth out important outliers. We should provide a "raw" view of the data by default to the user to avoid confusion.

[2017-09-28 13:37] adityagp commented on #166
Fair enough. My main concern is if users upload their noisy datasets, they won't be able to make sense of it until they perform smoothing -- but you're right. Let's not do it.

[2017-09-28 13:37] #166 closed

[2017-09-28 13:44] adityagp commented on #163
@dorisjlee do you want to take a stab at this? A quick start guide like [ this ](https://github.com/dataspread/dataspread-web/wiki/Quick-Start-Guide) is a nice way to introduce all of the features of the tool, and the user guide like [ this ](https://github.com/dataspread/dataspread-web/wiki/User-Guide) is also valuable. Maybe both guides aren't needed in the zenvisage context, but we should descr

[2017-09-28 13:46] dorisjlee commented on #163
Yeah, I'll work on it, its on my to-do.

[2017-09-28 15:16] dorisjlee commented on #151
@superchaoran : Could you update the upload instructions for the wiki after all the file upload related changes is complete? Thanks!
https://github.com/zenvisage/zenvisage/wiki/Instructions-for-uploading-new-datasets

[2017-09-28 16:21] eidehua commented on #164
Yea, I can add some basic error handling on frontend

[2017-09-28 18:21] siddta commented on #167
Yeah, there is a semantics issue there. However, it should still return the cross-product-based outputs, currently, it's just breaking silently. @eidehua might know why?

[2017-09-28 18:23] siddta commented on #165
I also couldn't replicate this on chrome either, maybe there is a bug which gets triggered off on certain interactions.

[2017-09-28 19:40] superchaoran commented on #151
sure thing!

On Thu, Sep 28, 2017 at 10:16 AM Doris Lee <notifications@github.com> wrote:

--
Chaoran Wang,
Master of Computer Science Student
University of Illinois at Urbana-Champaign
wang374@illinois.edu
Mobile: (217) 550-2410 <javascript:void(0);>

[2017-09-29 18:40] adityagp commented on #148
I figured out one scenario when this happens (now can replicate). If you have dragged a chart with a smaller x-axis at any point, all future ones will only show the chart up until the smaller x-axis end-point.

[2017-09-29 22:19] adityagp commented on #144
@superchaoran temporary fix: increase # of connections. After that, we will defer to post release.

[2017-09-29 22:20] adityagp commented on #143
Merged with #151

[2017-09-29 22:20] #143 closed

[2017-09-29 22:21] adityagp commented on #142
@dorisjlee will try this again

[2017-09-29 22:23] adityagp commented on #130
@dorisjlee will investigate this and provide more info to see if this can be fixed at the frontend

[2017-09-29 22:24] adityagp commented on #129
@superchaoran will take a look

[2017-09-29 22:27] adityagp commented on #155
@zzhng107: please report on talking to mangesh and paul

[2017-09-29 22:34] adityagp commented on #170
@jaywoo123  will take a look post his midterm

[2017-09-29 22:42] adityagp commented on #165
closed until we can reproduce

[2017-09-29 22:42] #165 closed

[2017-09-29 23:07] #145 closed

[2017-09-29 23:14] adityagp commented on #145
thx @zzhng107

[2017-10-02 00:40] dorisjlee commented on #142
@superchaoran  I tried this again by testing it on the server: had to first add the extra line in the schema file as described in [#143](https://github.com/zenvisage/zenvisage/issues/143) and used the above example (forclosureratio : [min,5],[5,max])  then switched to dynamic class view, outlier still doesn't show with the same error.

[2017-10-02 04:15] siddta commented on #155
Hey @zzhng107 let me know when you plan to meet mangesh and paul; I'd like to join as well.

[2017-10-02 04:20] zzhng107 commented on #155
@siddta I chatted with Paul shortly through slack and I think I'll give a try by myself and let you guys know how it goes.

[2017-10-02 04:28] siddta commented on #150
It seems docker fails to start postgres on the knoweng server. Possibly the command used in docker script to start postgres may not work for the specific version on postgres installed on that server. There are several variations of the start-up command; and not the same command might always work.
So in order to verify this; we could do the following:
a)  run the command used in the docker script m

[2017-10-02 06:28] eidehua commented on #162
Here's my solution to it from 7a70ba09e4d3883009149952b92c89a430a9adb6
![image](https://user-images.githubusercontent.com/7684873/31066173-93580d66-a710-11e7-90aa-4bb3f993a3d2.png)

Though probably there should be a better longer term solution

[2017-10-02 06:30] #162 closed

[2017-10-02 12:28] adityagp commented on #162
Looks good to me!

[2017-10-02 12:30] adityagp commented on #150
This is a good long-term strategy, but I thought @jaywoo123 was going to document this as a known bug for now.

[2017-10-02 21:15] adityagp commented on #148
My hypothesis is not correct. This happens even when the x-axis is the same across visualizations.

<img width="241" alt="screen shot 2017-10-02 at 4 13 27 pm" src="https://user-images.githubusercontent.com/1056605/31099773-c3eb1dac-a78c-11e7-8e0e-be411fa0e689.png">

[2017-10-03 16:25] jaywoo123 commented on #158
fixed

[2017-10-03 16:25] #158 closed

[2017-10-03 16:37] jaywoo123 commented on #157
done

[2017-10-03 16:37] #157 closed

[2017-10-03 22:12] eidehua commented on #164
Alright, on the front end when it receives an error, I created a nice modal popup to contain the error.

![image](https://user-images.githubusercontent.com/7684873/31151620-e415a06c-a85d-11e7-9202-3b682e105a78.png)

The frontend actually already catches errors, but just silently drops them (well just printing to console).

[2017-10-03 22:17] adityagp commented on #164
Excellent, thanks Ed!

[2017-10-04 00:19] adityagp commented on #158
Super!

On Tue, Oct 3, 2017 at 11:26 AM jaywoo123 <notifications@github.com> wrote:

--
Aditya Parameswaran
Assistant Professor, Illinois CS
http://data-people.cs.illinois.edu

[2017-10-04 06:21] eidehua commented on #164
Backend Implementation:

![image](https://user-images.githubusercontent.com/7684873/31162247-f120ca9a-a8a1-11e7-9125-3b9093cb5bd4.png)

From the frontend, it may be weird to see extensive java error messages. So instead of throwing up the JSONParseException, I make a simple message for the frontend to see.

The benefit of just sending the real exception is so for easier debugging. If we want to sh

[2017-10-04 06:29] eidehua commented on #164
The cost of this however is a very ugly postSimilarity Function

![image](https://user-images.githubusercontent.com/7684873/31162426-03ab5cd8-a8a3-11e7-946d-82f4b8bede65.png)

If the scanner fails, or if removingSketchPoints fails, or if the main algorithm fails, we want to return an error message to front end, so several catch/try blocks

The nested catching occurs because there may be an IOExcep

[2017-10-04 06:40] eidehua commented on #164
OK I think I found a better solution, with just one big try catch block. Let the called functions return me either their standard error messages, or simplified ones.

![image](https://user-images.githubusercontent.com/7684873/31162781-e58c3996-a8a4-11e7-9f0f-581af4064490.png)

[2017-10-04 19:36] eidehua commented on #161
Confirmed fixed

[2017-10-04 19:36] #161 closed

[2017-10-04 19:42] eidehua commented on #102
For real_estate, month, year, quarter all work. But there are some special handling for that specific dataset. Weather dataset has months counting like 0,1...,20 etc so frontend needs to add this handling to all cases

The problem is when there are different ways to express these times in datasets (eg month as offset from some day so 0,1,2,3, or months given like 'jan', 'feb', etc)

[2017-10-04 20:43] dorisjlee commented on #130
Addressed by commit [ed4bbd9](https://github.com/zenvisage/zenvisage/commit/ed4bbd9dcf244fca9a8be19571dedc03ff56c7b1)

[2017-10-04 20:43] #130 closed

[2017-10-04 21:21] eidehua opened #171 "ZQL Parser Error"
Something seems wrong with the parser. Might be a bug from some recent change, will look into it.

![image](https://user-images.githubusercontent.com/7684873/31200240-c8f05206-a91f-11e7-8226-2b405949d5c5.png)

[2017-10-04 21:21] zzhng107 commented on #155
- [Done] Users tables set up
- [Done] Hardcoded login request from frontend to backend
- [Done] Login request through connection to users table
- [In progress] Simple Hash function
- [ ] Another table for users-tables mapping
- [ ] Reaction after successful login
        - [ ] Return table list based on authentification
        - [ ] Cookies and expiration
- [ ] Insert query into users table (Regi

[2017-10-04 21:50] adityagp commented on #142
@dorisjlee will look into the frontend

[2017-10-04 21:51] adityagp commented on #129
@dorisjlee can this be addressed at the frontend?

[2017-10-04 22:06] adityagp commented on #130
Thanks @dorisjlee!

[2017-10-05 21:13] dorisjlee commented on #129
Addressed in commit [caa7e24](https://github.com/zenvisage/zenvisage/commit/caa7e24e3236c713ab23639c913ef3405c02f146).
Here is a demo of how dynamic class could be created on an x axis attribute (month)
![image](https://user-images.githubusercontent.com/5554675/31252808-09d23f8c-a9e8-11e7-943f-7dbc633c8a1a.png)

[2017-10-05 21:13] #129 closed

[2017-10-06 00:30] siddta opened #172 "Cron job to ping zenvisage every 10 minutes, and restart zv and postgres if either of them are down"

[2017-10-11 00:19] eidehua commented on #164
Implemented the changes we discussed in last week's meeting.

![image](https://user-images.githubusercontent.com/7684873/31416618-f108d464-adef-11e7-9cab-64206f37523e.png)

![image](https://user-images.githubusercontent.com/7684873/31416624-fb001c66-adef-11e7-8a49-26742df4d11e.png)

[2017-10-11 00:23] eidehua commented on #164
Closed with 1f6c7173b2b67e273af8c7bed8e33a77296e193e

[2017-10-11 00:23] #164 closed

[2017-10-11 01:20] eidehua commented on #171
Well... it's working for me now, even though I didn't change anything. I am not sure what changed if anything. Closing for now, will reopen if I can keep reproducing it.

[2017-10-11 01:20] #171 closed

[2017-10-11 02:15] siddta commented on #142
There are only two visualizations for the issued query, both of which make the representative trends. Since a visualization can't be representative and outlier at the same time, the backend returns an empty result for outliers -- that makes sense to me.
To fix this, the front-end should check whether the returned result is empty; if it is then it should not show anything for outliers. @dorisjlee.

[2017-10-11 17:01] dorisjlee commented on #142
There was something in the backend that was enforcing the same number of outliers and representative trends which was breaking this. I've fixed this and tested it in the case where I set filter as city='Kendall', which also had the same issue. The dynamic class example above cannot be temporarily tested because dynamic_class is not displayed on the frontend (it seems like the schema-free file uplo

[2017-10-11 17:01] #142 closed

[2017-10-11 18:43] siddta opened #173 "Move the decision on whether to log the interactions and queries to the backend"
Currently it's done at the front-end inside index.html at the very bottom:
 “var loggerOn=true”

Front-end should always send, backend logs or not based on a flag stored in the config file.

[2017-10-11 19:03] jaywoo123 commented on #170
closing this because scatter plots are now re-generated

[2017-10-11 19:03] #170 closed

[2017-10-11 19:03] jaywoo123 commented on #148
fixed

[2017-10-11 19:03] #148 closed

[2017-10-11 19:07] eidehua opened #174 "Angular: need to unbind rootScope listeners"
So the way we pass calls from one controller to another is through $rootScope.$emit from caller, and $rootScope.$on for listener. Apparently this causes listeners to be left, potentially leading to multiple calls/memory leaks. Any one on frontend/good with angular thinks this make sense?

Some links regarding this:
example code of what needs to be done:
https://toddmotto.com/all-about-angulars-emi

[2017-10-11 19:09] eidehua commented on #174
I believe we can solve this problem without having to destory all the different rootscope listeners by switching from
rootscope.emit -> rootscope.on
to
rootscope.broadcast -> scope.on

according to this post they should be equivalent
https://stackoverflow.com/questions/11252780/whats-the-correct-way-to-communicate-between-controllers-in-angularjs

[2017-10-11 19:27] eidehua commented on #174
Can confirm this is a bug. The options-controller uses emits. So when I changed a smoothing option, its calling backend 5 times!

![image](https://user-images.githubusercontent.com/7684873/31461802-359790a2-ae90-11e7-8b12-4cac5c7b6d5d.png)

[2017-10-11 19:45] eidehua commented on #99
Closed with 0551708906cf43f728f94a61452220da76d7f1a7

[2017-10-11 19:46] adityagp commented on #99
excellent!

[2017-10-11 19:48] adityagp commented on #173
Good find. (btw, I can't parse the second sentence.) I agree that logs should aways be sent to the backend, and back-end should decide whether to log or not.

[2017-10-11 19:50] eidehua opened #175 "DatasetController gets created 5 times"
I just added a console log to the datasetController. On just loading the page, it gets created 5 times. Any ideas?

![image](https://user-images.githubusercontent.com/7684873/31462782-6b45e408-ae93-11e7-9355-cbdf776355fb.png)

[2017-10-11 19:56] eidehua commented on #175
So on the front end we have 5 divs that have ng-controller="datasetController"
So it seems like it creates 5 controllers, so there are 5 event listeners.

Not sure what the proper design change would be

[2017-10-11 20:04] eidehua commented on #175
This is bad..
![image](https://user-images.githubusercontent.com/7684873/31463950-7095dde4-ae95-11e7-8b58-9aedabefc655.png)

[2017-10-11 20:14] siddta commented on #173
Made the second sentence more clear.

[2017-10-11 21:22] adityagp commented on #173
agreed!

[2017-10-11 21:24] adityagp commented on #173
@zzhng107 will add as config parameter

[2017-10-12 01:38] eidehua commented on #144
https://github.com/zenvisage/zenvisage/issues/175 is related. Just as doris says, clicking too many control options causes too many backend calls which can cause too many postgres connections

[2017-10-12 22:08] eidehua commented on #99
Should I keep the axes change on ZQL Query fire, or just for drag and drop?

[2017-10-13 13:51] adityagp commented on #99
I think just for drag and drop, since the axis doesn't really make much
sense when we're viewing arbitrary ZQL results.

On Thu, Oct 12, 2017 at 5:08 PM Ed <notifications@github.com> wrote:

--
Aditya Parameswaran
Assistant Professor, Illinois CS
http://data-people.cs.illinois.edu

[2017-10-13 22:42] eidehua commented on #175
Wrap downloads in one datasetController instead of each having one
Try removing optionsController, add functionality to datasetController to temporarily fix this bug

Try to have controllers for each purpose and not contain data (move to services/factories)

Long term: change frameworks, figure out what is best

[2017-10-15 07:16] zzhng107 commented on #155
- Users now can fetch their own tables if associated with their authentification.
- Authentification is done using a cryptographically-random salt. For more information, check it out here [https://github.com/defuse/password-hashing](url)
- Users and user-tables pair information are manually stored for now.
- Uploading datasets with authentification is not supported yet.
- Registration is not suppo

[2017-10-16 06:19] eidehua commented on #99
Alright, done

[2017-10-16 06:19] #99 closed

[2017-10-16 06:47] #174 closed

[2017-10-16 07:12] eidehua commented on #175
Merging the options controller and dataset controller worked!

[2017-10-16 07:12] #175 closed

[2017-10-16 07:20] eidehua opened #176 "Redundant representative + outlier calls"
Sometimes, we call callGetUserQueryResultsWithCallBack() and then callgetRepresentativeTrends()
The former calls similarity and then representative, so we get a redundant call to representative + outlier

![image](https://user-images.githubusercontent.com/7684873/31599515-64f0f362-b218-11e7-9c94-d0919ff4d6dd.png)

[2017-10-16 14:16] adityagp commented on #175
awesome!

[2017-10-20 21:00] #176 closed

[2017-10-25 20:54] KongJianqiu opened #177 "Dataset upload issues"
- [ ] If dataset has a column called id, upload will fail (seems we have an added id column as primary key)
- [ ] columns that start with numbers (need to double quote when creating table)
- [ ] Neuroscience dataset somehow adds extra columns not in dataset
![image](https://user-images.githubusercontent.com/16232776/32022655-ad16ef1c-b99c-11e7-88a1-87556460242a.png)

Columns are created that are n

[2017-10-27 05:02] zzhng107 commented on #155
- Uploading datasets with authentification is supported now.
- Registration is supported now.
- Cookies and expiration are implemented.

[2017-10-27 05:02] #155 closed

[2017-11-08 11:57] #173 closed

[2017-11-17 20:19] superchaoran opened #181 "Adding remove dataset base on user permission."
While we currently lacking remove dataset option, we can run Postgres command:
[code]

[2017-11-18 17:24] dorisjlee opened #182 ""Forgot password" feature"
Suggested by @zzhng107.

[2017-11-27 22:41] dorisjlee opened #184 "Sign-in functionality should be optional in local installs"
Data upload file limit and sign-in should have the option to be turned off. This should be an option in the properties.config file.

[2017-12-05 17:38] superchaoran opened #185 "Optimizing speed for fetching table."
"it feels very “laggy”

[11:47]
especially to start, after that it is fine

[11:47]
I thought it might be me being out of campus but I found it to be the case even here"

Potential cause, each time the metadata need to fetch from the database which is considered as file access.
A potential solution, using a cache to cache the metadata and share it across the server space.

[2017-12-06 00:01] superchaoran commented on #185
Done as proposed.
https://github.com/zenvisage/zenvisage/commit/0d705a0dc2c869a8b5a2759e5e6564617ec74dbc
https://github.com/zenvisage/zenvisage/commit/4bd45675a0c2708bbf802b2c9c32684b260763e4

[2017-12-06 19:05] superchaoran commented on #185
By first load do you mean the first time a dataset is uploaded? If not, why do we need to go through the dataset to find min-max? Isn’t it already stored in the metadata table?

yes, it means the first query for that dataset user ever send after file-upload :slightly_smiling_face:

[10:47]
The first query, it’s going to trigger a process of calculating&&saving min-max to dataset and caching a vers

[2017-12-06 19:05] superchaoran commented on #185
i think a better way would be

[10:58]
having successful return message send to user first after fileupload

[10:58]
then we do the min-max calculation, saving and cache silently at backend

[10:59]
then the user won’t be experiencing lagging for first query

[10:59]
makes use of the idle time

[11:00]
there’s always space for improvements

[2017-12-06 19:13] #109 closed

[2017-12-06 19:13] superchaoran commented on #144
Fixed by closing each of sql query

[2017-12-06 19:13] #144 closed

[2017-12-06 19:14] superchaoran commented on #151
Done

[2017-12-06 19:14] #151 closed

[2017-12-06 19:15] superchaoran opened #186 "Make website mobile devices compatible."

[2017-12-09 04:18] superchaoran opened #187 "Drawing and drag and dropping not supported on firefox."
As title.

Did some research and made event retrieving supported in firefox both for drawing and drag&drop sections.

https://github.com/zenvisage/zenvisage/commit/7837a0d1ff985248916c0dbb664d045f494e7a47

[2017-12-09 04:18] #187 closed

[2017-12-12 00:38] eidehua commented on #167
Fixed, there was a bug. The current distance process executor does this:
for each axisvariable
  for each value
    do cross product of the viz that match in f1 and f2

for example,
for axisvariable (state.*)
  for each value (for every state, say NY)
    (compares f1.NY viz with f2.NY viz)

The bug was that the we were using the * itself for matching purposes. So i added code to expand out the *

[2017-12-12 00:42] #167 closed

[2017-12-17 23:37] eidehua opened #188 "Bug with Q5 ZQL Example"
![image](https://user-images.githubusercontent.com/7684873/34085036-bcfdffc4-e34f-11e7-9275-a63af8dc829d.png)

Right now we are outputting both axisvariables for every pair we compare
In this case, for instance, the top three would look something like this:
[NY, city1, 1.23]
[NY, city2, 1.40]
[NY, city3, 1.50]

And since the left hand side is stating just one output axis variable, it gets assigned

[2018-01-23 20:52] #156 closed

[2018-01-23 20:56] #163 closed

[2018-02-09 17:32] dorisjlee commented on #177
@KongJianqiu : Is this still an issue with the new dataset upload feature?

[2018-02-09 17:33] dorisjlee opened #189 "add "root" user login that has permission to add dataset >100MB limit"

[2018-02-09 19:14] dorisjlee commented on #184
assigned to Marc

[2018-02-09 19:16] dorisjlee commented on #189
1) Backend: During table creation, by default create a "root" user (add row to user table, SQL).
2) Frontend(?): Given them special permission to trespass the file upload limit.
assigned to Xu

[2018-02-09 19:17] dorisjlee commented on #128
assigned to Naman

[2018-02-12 13:32] dorisjlee opened #190 "Moving data file upload limit to backend"
For security issues, we should move data file upload limit to backend, as suggested by @siddta . Inside fileUploader.js.
[code]

[2018-02-12 13:47] dorisjlee opened #191 "Better error message for data upload"
When user selects an improper type during data upload, the backend throws an error, this is not displayed on the frontend, instead a generic message is returned.
[code]
For example on the kepler dataset, teff column is autodetected as int, whereas it is actually float. We should show on the frontend at least what coulmn needs to be fixed. Also look into whether there is a mistake in detecting the

[2018-02-12 14:00] dorisjlee commented on #184
Update: This is already done in commit @5360b98 using the parameter `loginavailable` in config.properties. While the login panel does not show up when this is set as false, we still are limited by the data file upload size. Local installs should not have a file upload size. We can either put these two together in the same parameter to add an additional parameter to config.properties.

[2018-02-12 14:03] dorisjlee opened #192 "Wiki page on config.properties description"
We should add a Wiki page that describes the parameters inside config.properties, as well as how to change and how rebuild is not needed to change to take into effect .

[2018-02-14 20:03] JosemyDuarte commented on #189
I would like to help with the backend part, beside updating the Readme.md file, what else should be modified?

[2018-02-27 20:36] adityagp opened #193 "DTW not working"
Issue pops up when I click on DTW as distance function.

![image](https://user-images.githubusercontent.com/1056605/36753371-94a9927c-1bcb-11e8-9fb7-df2705503cb9.png)

[2018-03-02 19:55] dorisjlee commented on #191
Issue assigned to Marc. @jaywoo123  might need to help explain the automatic type coercion code for the second part of this issue (i.e. why 5152 int is being parsed as 5152.0 float) .

[2018-03-08 03:57] dorisjlee commented on #190
assigned to Xu

[2018-03-13 20:28] eidehua opened #195 "File upload issue in 3.0"
Uploading a new dataset causes a backend error: dataset already exists. The new table gets created, but does not get filled

[2018-04-10 20:05] eidehua commented on #188
z1<-'state'.'NY'
constraint state='NY'

[2018-04-10 20:53] dorisjlee commented on #189
Resolved as part of commit [7c3079d](https://github.com/zenvisage/zenvisage/commit/7c3079d24d61ec5a8baf136a1decc7d430b2440d)

[2018-04-10 20:53] #189 closed

[2018-04-10 20:59] dorisjlee opened #196 "Linking Dynamic Class Creation with ZQL"
Dynamic class should create a column in the actual data table and be updated every time there is a change to the dynamic classes. Currently, the function createDynamicClassAggregation inside SQLQueryExecutor.java only deals with creating the column in zenvisage_dynamic_class table. While this filter-on-the-fly method is the more efficient if there are many modifications to the classes created, it

[2018-04-10 21:04] dorisjlee opened #197 "Concurrent upload with the same file name overrides data"
This issue was discovered by @xuy2 . When multiple datasets gets uploaded with the same filename, it overrides the original dataset. This is a result of 2 issues:
1) Inside postgres all datasets are stored as public under the postgres username, so when a new dataset with the same name is created, the data is overwritten. This can be resolved by concatenating the username and dataset as the filenam

[2018-04-10 21:13] dorisjlee opened #198 "populate query reload bug"
For the Q1, Q2 ZQL table buttons, when dataset change is set, then the canvas refreshes and wipes out the existing sketches, representative and outliers. The issue is caused by the function call to onDatasetChange in app.js. For example in populateQuery3 (which is triggered when the Q3 button is clicked),
[code]

[2018-04-10 21:13] dorisjlee commented on #190
Resolved by @xuy2 on commit [3a7c90e](https://github.com/zenvisage/zenvisage/commit/3a7c90e627bb7d367770525a3bfdfb2590510998)

[2018-04-10 21:14] #190 closed

[2018-04-10 21:15] dorisjlee commented on #184
Resolved in [e7cf92e](https://github.com/zenvisage/zenvisage/commit/e7cf92e675859ecb55049e51bf6cb56d50f022aa) by @MarcSupLee .

[2018-04-10 21:15] #184 closed

[2018-06-20 03:56] adityagp opened #199 "File path cannot have spaces within them"
Leads to an exception due to incorrect interpretation of spaces in the file path, especially for built in txt files.

"Exception in thread "main" java.io.FileNotFoundException: /Users/adityagp/Box%20Sync/Research%20Implementation/VisualizationProj/Zenvisage-2018-v02/zenvisage/target/classes/data/real_estate.txt (No such file or directory)
at java.base/java.io.FileInputStream.open0(Native Method)

[2018-06-20 21:01] adityagp opened #200 "DTW doesn't seem to work"
![image](https://user-images.githubusercontent.com/1056605/41683937-b5675e5c-74a1-11e8-90dc-542d47f2a036.png)

[2018-06-21 03:42] siddta opened #201 "Move javaml in src/main/resources folder from the lib folder at the root"

[2018-06-21 03:42] #201 closed

[2018-06-21 03:43] siddta commented on #200
Move javaml in src/main/resources folder from the lib folder at the root.

[2018-06-21 03:49] siddta opened #202 "Data upload issues"
There are quite a few issues here that we need to fix:
- Notify users about data upload failure messages when upload fails at the backend
- Overwrite the file in the target folder if a file with similar name already exists.
- Automatic schema detection is broken: 1) detects floats as int , 2) only maps strings as z attributes

[2018-10-08 02:37] dorisjlee opened #203 "CMU default load canvas empty"
When we switch to the CMU dataset, the canvas is empty. Typically, we display a y=x line when we load a new dataset by default. This error may be happening because of the xmin and xmax range for the CMU dataset is quite different from the other dataset (and contains negative values), we should account for cases like this.
![image](https://user-images.githubusercontent.com/5554675/46590477-342cb980

[2018-10-08 18:34] dorisjlee commented on #200
Tested and resolved in commit e9fcaf and bedcdf. Issue is due to an outdated javaml package. Then run file is also updated so that the required library is copied over every time when we run zenvisage, so that it is not cleared out.

[2018-10-08 18:34] #200 closed

[2018-10-08 18:35] dorisjlee commented on #38
Resolved in #200.

[2018-10-08 18:35] #38 closed

[2018-10-10 18:57] dorisjlee opened #204 "More interpretable error message when filter returns no tuples"
When filter constraint is return empty results, we should not throw an error and return something more interpretable. For example, on the real_estate_tutorial dataset, if we enter `city='Champaign'` it would throw an error.
![image](https://user-images.githubusercontent.com/5554675/46758917-ad9ff400-cc93-11e8-857c-3bd8a3a5938f.png)

![image](https://user-images.githubusercontent.com/5554675/467588

[2018-10-10 19:10] dorisjlee opened #205 "When loading new datasets, all frontend settings need to be reset."
When we call `onDatasetChange` after selecting a new dataset, we need to clear out and refresh both the Category/X/Y panel and the setting panel on the right. We are already resetting the Category/X/Y panel based on the new dataset attributes. However, we also need to clear out the settings panel, because it is unlikely that users would want to retain filters or input equations throughout differen

[2018-10-11 20:33] dorisjlee commented on #192
Wiki Page is complete now by @JintaoJiang .
https://github.com/zenvisage/zenvisage/wiki/Usage-of-config.properties

[2018-10-11 20:33] #192 closed

[2018-10-12 09:23] ABeltramo opened #206 "Docker-compose working files in order to run Zenvisage"
Hello everyone,

I just saw your project and I wan't to give it a try. Given that the dockerfile present here is not working I reworked a little everything and created a docker-compose file that separates postgres and zenvisage.
You can checkout my [repo](https://github.com/ABeltramo/zenvisage-docker) to see how it works. Here are a couple of hacky things I had to do in order to set it up:

- Inst

[2018-10-15 22:07] siddta commented on #206
Thanks @ABeltramo. This sounds like something we should fix in v3.0. @Renxuanwang.

[2018-10-16 15:59] dorisjlee opened #207 "Dynamic Class not working in v3.0"
Dynamic class creation is not working in v3.0, since it tries to recreate the `dynamic_class_aggregation_table` when it should simply insert an entry in it. This error can be found for any dynamic class creation for any dataset.
![image](https://user-images.githubusercontent.com/5554675/47030084-91d49c00-d132-11e8-8e9d-9e2970f2236c.png)

![screen shot 2018-10-16 at 10 45 36 am](https://user-images

[2018-10-21 17:12] dorisjlee commented on #207
This issue is tested and resolved by @Renxuanwang's backend fix. For future reference, we should be using the isTableExists API in SQLExecutor rather than checking list of tables. There was also minor additions to frontend list for the value "dynamic_class" and sketchpad initialization bug fix for getting this to work end-to-end. In the testing branch, I added a test to make sure DCC doesn't break

[2018-10-21 17:12] #207 closed

[2018-10-22 15:58] dorisjlee commented on #204
Issue resolved by @JintaoJiang in commit [d04a7a](https://github.com/zenvisage/zenvisage/commit/d04a7a097291cac1cbdb1e26256f88252e07a7b1). Jintao has created a CustomExceptionClass which we should use in the future to catch backend errors and replace them with more interpretable error messages.

[2018-10-22 15:58] #204 closed

[2018-10-24 14:36] dorisjlee commented on #193
Resolved in Issue #200

[2018-10-24 14:36] #193 closed

[2018-10-24 15:09] dorisjlee opened #208 "Improving Dynamic Class Creation Process"
There are several changes that can improve the flow of dynamic class creation:
1.  Currently, the dynamic class created is retained across sessions (since it is stored in the DB), we can update the values by adding a different dynamic class, which automatically replaces the existing DCC. Users should have the option to delete specific classes that are desirable, while keeping desired ones. This is

[2018-10-24 15:11] dorisjlee opened #209 "WHERE clause takes single quotes for text filters"
Postgres takes WHERE clause for strings with only single quotes, not double quotes, we should warn users when they submit a filter such as `city="Morgan Hill"` to modify their query. Or automatically parse and replace double quotes with single quotes to execute the query.

![image](https://user-images.githubusercontent.com/5554675/47441002-eb614a00-d774-11e8-961e-b9d76faabf15.png)

[2018-10-24 15:30] dorisjlee opened #210 "Test and Documentation of preprocessing procedure for similarity search"
Create a wiki page fully documenting the procedures applied to the raw visualization data to compute the similarity scores, including linearization, smoothing, normalization, etc, with links to the relevant portion of the code performing these action. In particular, we need to look inside `edu.uiuc.zenvisage.service`, files: `Analysis.java`,`Similarity.java`,`ZvMain.java`.

[2018-10-24 21:03] dorisjlee commented on #199
Tested @Renxuanwang's bugfix that resolved the issue.

[2018-10-24 21:03] #199 closed

[2018-10-29 15:01] dorisjlee commented on #206
Thanks for the contribution @ABeltramo. @Renxuanwang and I have tested this on Mac and Ubuntu and incorporated this into our repo, in commit [fa9a992](https://github.com/zenvisage/zenvisage/commit/fa9a992e79c6e71615d4ed7aca8c931d262b263d) and [59bd3a](https://github.com/zenvisage/zenvisage/commit/59bd3ab1764730fe4e9f64f05d73d4d55dfcdada).
I've also updated the wiki with the new set of instructions

[2018-10-29 15:01] #206 closed

[2018-10-29 17:55] dorisjlee commented on #202
Schema autodetect type checking issue resolved by @jaywoo123 in [62acc0](https://github.com/zenvisage/zenvisage/commit/62acc0d10139db96654dca6912f5a30164d75579) and tested. Type issue would not cause failure message because of the hierarchical data type setup. File in target with same name is already overwritten with latest file.

[2018-10-29 17:55] #202 closed

[2018-10-29 17:58] dorisjlee opened #211 "Data menu not showing after upload"
The dataset menu is not showing up on the frontend after successful data upload.
![image](https://user-images.githubusercontent.com/5554675/47670024-3961bd80-db7a-11e8-8c93-4bc669ee1f88.png)

[2018-10-30 22:17] dorisjlee commented on #197
@jaywoo123 : can you take a look at if this is related to what's causing issue in #211?

[2018-10-31 21:43] jaywoo123 commented on #211
fixed

[2018-10-31 21:43] #211 closed

[2018-11-02 17:20] dorisjlee commented on #210
@JintaoJiang wrote a wiki documenting these modules. I also looked through these, modified the wiki, and noted down several sanity checks that we should be testing to make sure the data preprocessing is done corectly. This list is not comphrensive nor do we have to cover all of them at once, but we should at least write some JUnit tests to test the essential ones.
- [ ] `ZQLQueryEnhanced`: checkin

[2018-11-02 20:48] dorisjlee commented on #128
I wrote a Protractor test that was able to reproduce this error. This happens at Loess with parameter 0.1 as input.
![image](https://user-images.githubusercontent.com/5554675/47939797-9a5cfe80-deb6-11e8-82d7-7cdd4bafa1cd.png)

[2018-11-02 22:32] dorisjlee commented on #209
Fixed in commit [4075103](https://github.com/zenvisage/zenvisage/commit/4075103632a2dfd59c58530f9e1b0e3a5662e1d2).

[2018-11-02 22:32] #209 closed

[2018-11-06 22:37] dorisjlee commented on #150
Resolved in Issue #206

[2018-11-06 22:37] #150 closed

[2018-11-06 22:46] #172 closed

[2018-11-07 15:11] #186 closed

[2018-11-30 22:46] dorisjlee commented on #208
Resolved by @Renxuanwang

[2018-11-30 22:46] #208 closed

[2018-11-30 22:50] dorisjlee commented on #210
Resolved by @JintaoJiang.

[2018-11-30 22:50] #210 closed

[2019-02-28 21:23] #196 closed

[2019-07-17 09:54] abhinav1602 opened #212 "Live Demo Link is no longer active"
url: http://datapeople.cs.illinois.edu:8080/